In [2]:
import os
import pandas as pd
import numpy as np

In [4]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19 = pd.read_csv('2019_타자_팀별합.csv', encoding = 'cp949')
bat_19.index = bat_19['Unnamed: 0']
del bat_19['Unnamed: 0']
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,6.151441,6.229689,12.381129,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,5.974517,6.016746,11.991264,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,5.199185,5.540189,10.739374,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,7.184556,8.044333,15.228889,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,7.326608,8.373727,15.700334,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,6.334873,6.128953,12.463826,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,7.122289,8.040163,15.162452,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,6.643191,7.357934,14.001125,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,6.189511,6.673211,12.862722,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,5.348757,5.393421,10.742178,21

In [5]:
BB = bat_19['BB']
HIT = bat_19['HIT']
HIT2 = bat_19['H2']
HIT3 = bat_19['H3']
HR = bat_19['HR']
PA = bat_19['PA']
AB = bat_19['AB']
RBI = bat_19['RBI']
RUN = bat_19['RUN']
HP = bat_19['HP']
SB = bat_19['SB']
CS = bat_19['CS']
GD = bat_19['GD']
IB = bat_19['IB']
SH = bat_19['SH']
SF = bat_19['SF']
KK = bat_19['KK']
P_HIT_CN = bat_19['P_HIT_CN']
P_AB_CN = bat_19['P_AB_CN']

### OPS

#### 출루율 (안타+볼넷+몸에 맞은 공) / (타수+볼넷+몸에 맞은 공+희생플라이)
(HIT+BB+HP)/(AB+BB+HP+SF)

In [6]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,6.151441,6.229689,12.381129,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,5.974517,6.016746,11.991264,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,5.199185,5.540189,10.739374,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,7.184556,8.044333,15.228889,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,7.326608,8.373727,15.700334,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,6.334873,6.128953,12.463826,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,7.122289,8.040163,15.162452,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,6.643191,7.357934,14.001125,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,6.189511,6.673211,12.862722,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,5.348757,5.393421,10.742178,21

In [7]:
OBP_list = []
for i in range(0, len(bat_19)) :
    up = bat_19.iloc[i, 4] + bat_19.iloc[i, 12] + bat_19.iloc[i, 14]
    down = bat_19.iloc[i, 1] + bat_19.iloc[i, 12] + bat_19.iloc[i, 14] + bat_19.iloc[i, 11]
    OBP = up/down
    OBP_list.append(OBP)

In [8]:
bat_19['OBP'] = OBP_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,0.348405,6.229689,12.381129,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,0.339951,6.016746,11.991264,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,0.354248,5.540189,10.739374,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,0.335268,8.044333,15.228889,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,0.352244,8.373727,15.700334,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,0.336426,6.128953,12.463826,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,0.321551,8.040163,15.162452,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,0.322889,7.357934,14.001125,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,0.318778,6.673211,12.862722,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,0.333988,5.393421,10.742178,21

#### 장타율 (단타 수 + 2루타 수*2 + 3루타 수*3 + 홈런 수*4)/타수

In [9]:
SLG_list = []
for j in range(0, len(bat_19)) :
    hit1 = bat_19.iloc[j, 4] - bat_19.iloc[j, 5] - bat_19.iloc[j, 6] - bat_19.iloc[j, 7]
    hit2 = bat_19.iloc[j, 5] * 2
    hit3 = bat_19.iloc[j, 6] * 3
    hit4 = bat_19.iloc[j, 7] * 4
    
    up = hit1 + hit2 + hit3 + hit4
    down = bat_19.iloc[j, 1]
    
    SLG = up/down
    SLG_list.append(SLG)

In [10]:
bat_19['SLG'] = SLG_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,0.348405,0.378159,12.381129,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,0.339951,0.370320,11.991264,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,0.354248,0.405143,10.739374,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,0.335268,0.366901,15.228889,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,0.352244,0.414410,15.700334,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,0.336426,0.375169,12.463826,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,0.321551,0.374910,15.162452,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,0.322889,0.354451,14.001125,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,0.318778,0.360133,12.862722,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,0.333988,0.375639,10.742178,21

#### OPS = 출루율 + 장타율

In [11]:
bat_19['OPS'] = [k + l for k, l in zip(bat_19['OBP'], bat_19['SLG'])]
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,0.348405,0.378159,0.726564,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,0.339951,0.370320,0.710271,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,0.354248,0.405143,0.759391,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,0.335268,0.366901,0.702169,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,0.352244,0.414410,0.766655,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,0.336426,0.375169,0.711595,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,0.321551,0.374910,0.696461,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,0.322889,0.354451,0.677339,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,0.318778,0.360133,0.678911,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,0.333988,0.375639,0.709628,21

### GPA(Gleeman Production Average, Gross Production Average)
((출루율×1.8) + 장타율) / 4
기존 OPS 수치를 보정함 출루율이 장타율 보다 80% 더 중요하다고 해서

In [12]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1002,219.533333,1187,323,443000,452100,0.348405,0.378159,0.726564,23
KT,4929,4380,502,574,1194,154,17,80,99,39,...,971,202.500000,1126,299,329800,348700,0.339951,0.370320,0.710271,21
키움,4670,4122,590,643,1166,197,32,81,107,30,...,908,230.250000,1124,342,325600,439700,0.354248,0.405143,0.759391,18
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,874,182.916667,1073,274,431400,426900,0.335268,0.366901,0.702169,25
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1050,208.166667,1148,300,548400,564100,0.352244,0.414410,0.766655,23
LG,5005,4438,518,591,1193,217,15,75,105,44,...,961,191.383333,1123,300,477400,486100,0.336426,0.375169,0.711595,21
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,918,165.083333,1016,251,356400,365500,0.321551,0.374910,0.696461,27
한화,4861,4325,485,523,1100,195,14,70,81,44,...,910,198.250000,1073,274,360900,302300,0.322889,0.354451,0.677339,24
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,886,174.350000,1047,258,684300,716100,0.318778,0.360133,0.678911,23
SK,4612,4105,501,505,1084,182,12,84,90,38,...,858,196.333333,1029,290,516800,457400,0.333988,0.375639,0.709628,21

In [13]:
GPA_list = [(bat_19.iloc[m, 25] * 1.8 + bat_19.iloc[m, 26]) / 4 for m in range(0, len(bat_19))]
bat_19['GPA'] = GPA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,219.533333,1187,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813
KT,4929,4380,502,574,1194,154,17,80,99,39,...,202.500000,1126,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211
키움,4670,4122,590,643,1166,197,32,81,107,30,...,230.250000,1124,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,182.916667,1073,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648
NC,5208,4580,563,624,1300,228,26,106,86,44,...,208.166667,1148,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148
LG,5005,4438,518,591,1193,217,15,75,105,44,...,191.383333,1123,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,165.083333,1016,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825
한화,4861,4325,485,523,1100,195,14,70,81,44,...,198.250000,1073,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,174.350000,1047,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788
SK,4612,4105,501,505,1084,182,12,84,90,38,...,196.333333,1029,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445

### SECA (Secondary Average)
SECA = (BB + (TB - H) + (SB -CS)) / AB

In [14]:
SecA는 루타에서 단타를 빼 추가 진루를 얼마나 얻어냈는지 보는 스탯입니다. 
타율은 장타가 구분되지 않고 볼넷이 포함되지 않기 때문에 타율로  평가할 수 없는 부분인 장타력과 
선구안을 보는 것입니다. 분자에 볼넷이 들어가는데 분모에는 볼넷이 포함되지 않는 문제가 있습니다.
단타가 빠지기 때문에 SecA 만으로는 종합적인 타격능력을 평가할 수는 없고 타율의 보조적인 역할을 합니다.
리그평균 SecA는 0.200 ~ 0.250 정도입니다.

SyntaxError: invalid syntax (<ipython-input-14-2c8de78badc8>, line 1)

In [15]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,219.533333,1187,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813
KT,4929,4380,502,574,1194,154,17,80,99,39,...,202.500000,1126,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211
키움,4670,4122,590,643,1166,197,32,81,107,30,...,230.250000,1124,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,182.916667,1073,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648
NC,5208,4580,563,624,1300,228,26,106,86,44,...,208.166667,1148,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148
LG,5005,4438,518,591,1193,217,15,75,105,44,...,191.383333,1123,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,165.083333,1016,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825
한화,4861,4325,485,523,1100,195,14,70,81,44,...,198.250000,1073,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,174.350000,1047,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788
SK,4612,4105,501,505,1084,182,12,84,90,38,...,196.333333,1029,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445

In [16]:
B_list = [bat_19.iloc[n, 5] * 2 + bat_19.iloc[n, 6] * 3 + bat_19.iloc[n, 7] * 4 
          for n in range(0, len(bat_19))]
SECA_list = [(bat_19.iloc[o, 12] + B_list[o] + bat_19.iloc[o, 8] - bat_19.iloc[o, 9]) / 
            bat_19.iloc[o, 1] for o in range(0, len(bat_19))]
bat_19['SECA'] = SECA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1187,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297
KT,4929,4380,502,574,1194,154,17,80,99,39,...,1126,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384
키움,4670,4122,590,643,1166,197,32,81,107,30,...,1124,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,1073,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1148,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755
LG,5005,4438,518,591,1193,217,15,75,105,44,...,1123,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,1016,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328
한화,4861,4325,485,523,1100,195,14,70,81,44,...,1073,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,1047,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607
SK,4612,4105,501,505,1084,182,12,84,90,38,...,1029,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364

### TA
TA shows a batter’s offensive contribution. The higher the number, the more contributions and the fewer negative contributions.

In [17]:
TA = (Total Bases + Hit by Pitch + Walks + Stolen Base) ÷ 
(At Bats – Hits + Caught Stealing + Ground Into Double Play)

SyntaxError: invalid syntax (<ipython-input-17-dc8e251db19d>, line 1)

In [18]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_AB_CN,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,1187,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297
KT,4929,4380,502,574,1194,154,17,80,99,39,...,1126,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384
키움,4670,4122,590,643,1166,197,32,81,107,30,...,1124,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,1073,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042
NC,5208,4580,563,624,1300,228,26,106,86,44,...,1148,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755
LG,5005,4438,518,591,1193,217,15,75,105,44,...,1123,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,1016,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328
한화,4861,4325,485,523,1100,195,14,70,81,44,...,1073,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,1047,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607
SK,4612,4105,501,505,1084,182,12,84,90,38,...,1029,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364

In [19]:
TB_list = [bat_19.iloc[p, 4] - (bat_19.iloc[p, 5] + bat_19.iloc[p, 6] + bat_19.iloc[p, 7])
           + bat_19.iloc[p, 5] * 2 + bat_19.iloc[p, 6] * 3 + bat_19.iloc[p, 7] * 4
           for p in range(0, len(bat_19))]
TA_list = [(TB_list[q] + bat_19.iloc[q, 14] + bat_19.iloc[q, 12] + bat_19.iloc[q, 8]) /
           (bat_19.iloc[q, 1] - bat_19.iloc[q, 4] + bat_19.iloc[q, 9] + bat_19.iloc[q, 16])
           for q in range(0, len(bat_19))]
bat_19['TA'] = TA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA,TA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722
KT,4929,4380,502,574,1194,154,17,80,99,39,...,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860
키움,4670,4122,590,643,1166,197,32,81,107,30,...,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355
NC,5208,4580,563,624,1300,228,26,106,86,44,...,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661
LG,5005,4438,518,591,1193,217,15,75,105,44,...,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674
한화,4861,4325,485,523,1100,195,14,70,81,44,...,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909
SK,4612,4105,501,505,1084,182,12,84,90,38,...,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416

### RC
빌 제임스가 고안한 한 타자가 (어떤 방식으로든) 만들어낸 득점 생산력. 당연히 높을수록 팀의 승리에 기여하는 바가 크다. 각 숫자들은 득점에 각 항목이 어느 정도 기여했는지를 알려주는 것이라 이해하면 된다. 예를 들면 도루가 0.62라는 것은 도루 한 개가 0.62점에 해당한다는 뜻.

In [20]:
A: 안타 + 볼넷 - 도루실패 + 몸에맞는공 - 병살타
B: (1.125×단타) + (1.69 x 2루타) + (3.02×3루타) + (3.73×홈런) + .29×(BB-IBB+HBP) + .492×(SH+SF+SB) - (0.4×K)
C: 타수 + 볼넷 + 몸에맞는 공 + 희생번트 + 희생플라이
((2.4C + A)*(3C + B)) / 9C - 0.9C
추가사항 + 득점권 안타 수 - (득점권 타수 * 타율) + 주자 있을 때 홈런 - (주자 있을 때 타수 * 홈런) / 타수
    주자 있을 때 홈런이랑 타수를 어떻게 알아내냐고??????

SyntaxError: invalid character in identifier (<ipython-input-20-06aa3c99a8a2>, line 2)

In [21]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA,TA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,323,443000,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722
KT,4929,4380,502,574,1194,154,17,80,99,39,...,299,329800,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860
키움,4670,4122,590,643,1166,197,32,81,107,30,...,342,325600,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,274,431400,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355
NC,5208,4580,563,624,1300,228,26,106,86,44,...,300,548400,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661
LG,5005,4438,518,591,1193,217,15,75,105,44,...,300,477400,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,251,356400,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674
한화,4861,4325,485,523,1100,195,14,70,81,44,...,274,360900,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,258,684300,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909
SK,4612,4105,501,505,1084,182,12,84,90,38,...,290,516800,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416

In [51]:
RC_list = []
for r in range(0, len(bat_19)) :
    A = HIT[r] + BB[r] - CS[r] + HP[r] - GD[r]
    hit1 = (bat_19.iloc[r, 4] - (bat_19.iloc[r, 5] + bat_19.iloc[r, 6] + bat_19.iloc[r, 7]))
    B = ((1.125 * hit1) + (1.69 * HIT2[r]) + (3.02 * HIT3[r]) + (3.73 * HR[r]) + 
         (0.29 * (BB[r] - IB[r] + HP[r])) + (0.492 * (SH[r] + SF[r] + SB[r])) - (0.4 * KK[r]))
    C = AB[r] + BB[r] + HP[r] + SH[r] + SF[r]
    RC_list.append((((2.4 * C) + A) * ((3 * C) + B)) / (9 * C) - (0.9 * C))

In [29]:
## 선수 수만큼 나누어주기
RC_list = [bb/aa for aa, bb in zip(bat_19['선수 수'], RC_list)]
RC_list

[22.751508181792655,
 22.918134697036553,
 29.132448811695365,
 16.990963670142737,
 25.525406804841268,
 22.857162255733698,
 15.836051510164369,
 16.42994557189877,
 16.85928109167589,
 21.362938384057436]

In [30]:
bat_19['RC'] = RC_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,Money_19,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA,TA,RC
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,443000,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508
KT,4929,4380,502,574,1194,154,17,80,99,39,...,329800,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135
키움,4670,4122,590,643,1166,197,32,81,107,30,...,325600,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,431400,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964
NC,5208,4580,563,624,1300,228,26,106,86,44,...,548400,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407
LG,5005,4438,518,591,1193,217,15,75,105,44,...,477400,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,356400,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052
한화,4861,4325,485,523,1100,195,14,70,81,44,...,360900,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,684300,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281
SK,4612,4105,501,505,1084,182,12,84,90,38,...,516800,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938

### RC/27
경기당 득점 기대치. 27아웃당(27타석이 아니다) RC. 27아웃은 한 경기를 가리킨다. 즉, 한 타자를 8명 더 복제해서 1번부터 9번까지 전부 그 타자로만 채웠을 때, 그 팀이 몇 점을 얻을 수 있느냐-라고 이해하면 된다.

In [76]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HIT_CN,Money_19,Money_20,OBP,SLG,OPS,GPA,SECA,TA,RC
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,323,443000,452100,0.348405,0.378159,0.726564,0.351813,0.309297,0.698722,523.284688
KT,4929,4380,502,574,1194,154,17,80,99,39,...,299,329800,348700,0.339951,0.370320,0.710271,0.344211,0.264384,0.656860,481.280829
키움,4670,4122,590,643,1166,197,32,81,107,30,...,342,325600,439700,0.354248,0.405143,0.759391,0.372162,0.316594,0.731106,524.384079
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,274,431400,426900,0.335268,0.366901,0.702169,0.340648,0.287042,0.653355,424.774092
NC,5208,4580,563,624,1300,228,26,106,86,44,...,300,548400,564100,0.352244,0.414410,0.766655,0.378148,0.313755,0.725661,587.084357
LG,5005,4438,518,591,1193,217,15,75,105,44,...,300,477400,486100,0.336426,0.375169,0.711595,0.346725,0.280306,0.660294,480.000407
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,251,356400,365500,0.321551,0.374910,0.696461,0.342825,0.303328,0.654674,427.573391
한화,4861,4325,485,523,1100,195,14,70,81,44,...,274,360900,302300,0.322889,0.354451,0.677339,0.328838,0.264046,0.613515,394.318694
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,258,684300,716100,0.318778,0.360133,0.678911,0.331788,0.262607,0.608909,387.763465
SK,4612,4105,501,505,1084,182,12,84,90,38,...,290,516800,457400,0.333988,0.375639,0.709628,0.346445,0.281364,0.662416,448.621706

In [36]:
## 얘는 선수 수만큼 안나누어줘도 됨
RC27_list = []
for t in bat_19['RC'] :
    RC27_list.append(t/27)
bat_19['RC27'] = RC27_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,Money_20,OBP,SLG,OPS,선수 수,GPA,SECA,TA,RC,RC27
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,452100,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648
KT,4929,4380,502,574,1194,154,17,80,99,39,...,348700,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820
키움,4670,4122,590,643,1166,197,32,81,107,30,...,439700,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,426900,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295
NC,5208,4580,563,624,1300,228,26,106,86,44,...,564100,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385
LG,5005,4438,518,591,1193,217,15,75,105,44,...,486100,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,365500,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520
한화,4861,4325,485,523,1100,195,14,70,81,44,...,302300,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,716100,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418
SK,4612,4105,501,505,1084,182,12,84,90,38,...,457400,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220

### XR
RC보다 복잡하지만 좀 더 정확한 스탯으로 알려져 있다.

In [80]:
1루타×0.5 + 2루타×0.72 + 3루타×1.04 + 홈런×1.44 + (몸에 맞는 볼 + 볼넷 - 고의4구)×0.34 +
고의4구×0.25 + 도루×0.18 - 도루실패×0.32 - (타수 - 안타 - 삼진)×0.09 - 삼진×0.098 -
병살타×0.37 + 희생플라이×0.37 + 희생번트×0.04.

SyntaxError: invalid character in identifier (<ipython-input-80-b177d958fe4e>, line 1)

In [37]:
XR_list = []
for s in range(0, len(bat_19)) :
    hit1 = (bat_19.iloc[s, 4] - (bat_19.iloc[s, 5] + bat_19.iloc[s, 6] + bat_19.iloc[s, 7]))
    XR_list.append(((hit1 * 0.5) + (HIT2[s] * 0.72) + (HIT3[s] * 1.04) + (HR[s] * 1.44) + 
          ((HP[s] + BB[s] - IB[s]) * 0.34) + (IB[s] * 0.25) + (SB[s] * 0.18) - (CS[s] * 0.32) -
          ((AB[s] - HIT[s] - KK[s]) * 0.09) - (KK[s] * 0.098) - (GD[s] * 0.37) +
          (SF[s] * 0.37) + (SH[s] * 0.04)))

In [38]:
## 선수 수만큼 나누어주기
XR_list = [bb/aa for aa, bb in zip(bat_19['선수 수'], XR_list)]
XR_list

[26.428260869565214,
 26.761428571428567,
 33.22599999999999,
 20.23784,
 28.954434782608697,
 26.971047619047617,
 19.446074074074073,
 20.83441666666666,
 21.110782608695647,
 25.099619047619058]

In [40]:
bat_19['XR'] = XR_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OBP,SLG,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619

### ISO (Isolated Power)
ISO = SLG – AVG

In [41]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OBP,SLG,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.348405,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.339951,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.354248,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.335268,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.352244,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.336426,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.321551,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.322889,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.318778,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.333988,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619

In [42]:
ISO_list = []
for u, v in enumerate(bat_19['SLG']) :
    SLG = v
    AVG = (bat_19.iloc[u, 4] / bat_19.iloc[u, 1])
    ISO_list.append(SLG - AVG)
bat_19['ISO'] = ISO_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SLG,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR,ISO
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571

### PSN (Power Speed Number)
PSR = (2 * HR * SB) / (HR+SB)
호타준족? 장타도 잘치고 잘 뛰는

In [43]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SLG,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR,ISO
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.378159,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.370320,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.405143,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.366901,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.414410,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.375169,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.374910,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.354451,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.360133,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.375639,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571

In [44]:
PSR_list = []
for w in range(0, len(bat_19)) :
    PSR_list.append((2 * HR[w] * SB[w]) / (HR[w] + SB[w]))
bat_19['PSR'] = PSR_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR,ISO,PSR
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552

### wOBA (Weighted On Base Average) 가중 출루율

In [45]:
wOBA = (0.689×uBB + 0.722×HBP + 0.892×1B + 1.283×2B + 1.635×3B +
2.135×HR) / (AB + BB – IBB + SF + HBP)
uBB = unintentional base on balls

SyntaxError: invalid character in identifier (<ipython-input-45-020c8fdccb73>, line 1)

In [46]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OPS,선수 수,GPA,SECA,TA,RC,RC27,XR,ISO,PSR
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.726564,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.710271,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.759391,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.702169,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.766655,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.711595,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.696461,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.677339,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.678911,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.709628,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552

In [47]:
wOBA_list = []
for x in range(0, len(bat_19)) :
    hit1 = bat_19.iloc[j, 4] - bat_19.iloc[j, 5] - bat_19.iloc[j, 6] - bat_19.iloc[j, 7]
    wOBA_list.append(((0.689 * (BB[x] - IB[x]) + (0.722 * HP[x]) + (0.892 * hit1) + 
                       (1.283 * HIT2[x]) + (1.635 * HIT[3]) + (2.135 * HR[x])) / 
                      (AB[x] + BB[x] - IB[x] + SF[x] + HP[x])))
bat_19['wOBA'] = wOBA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,선수 수,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,23,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235,0.650651
KT,4929,4380,502,574,1194,154,17,80,99,39,...,21,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620,0.638638
키움,4670,4122,590,643,1166,197,32,81,107,30,...,18,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128,0.686838
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,25,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287,0.697901
NC,5208,4580,563,624,1300,228,26,106,86,44,...,23,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333,0.641782
LG,5005,4438,518,591,1193,217,15,75,105,44,...,21,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000,0.644728
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,27,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783,0.681078
한화,4861,4325,485,523,1100,195,14,70,81,44,...,24,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338,0.652585
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,23,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463,0.669917
SK,4612,4105,501,505,1084,182,12,84,90,38,...,21,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552,0.688036

### OW%
Offensive winning percentage. The theoretical winning percentage of a team comprising nine of the same players

In [90]:
OW% = (RC/27)^2 / ((RC/27)^2 + 리그(RC/27)^2)

SyntaxError: invalid syntax (<ipython-input-90-cd79a9101801>, line 1)

In [40]:
RC
A: 안타 + 볼넷 - 도루실패 + 몸에맞는공 - 병살타
B: (1.125×단타) + (1.69 x 2루타) + (3.02×3루타) + (3.73×홈런) + .29×(BB-IBB+HBP) + .492×(SH+SF+SB) - (0.4×K)
C: 타수 + 볼넷 + 몸에맞는 공 + 희생번트 + 희생플라이
((2.4C + A)*(3C + B)) / 9C - 0.9C

SyntaxError: invalid character in identifier (<ipython-input-40-87cd2e81db0a>, line 3)

In [48]:
## 리그 RC/27
A_A = sum(HIT)/len(HIT) + sum(BB)/len(HIT) - sum(CS)/len(HIT) + sum(HP)/len(HIT) - sum(GD)/len(HIT)
A_B = ((1.125 * (sum(HIT)/len(HIT) - sum(HIT2)/len(HIT) - sum(HIT3)/len(HIT) - sum(HR)/len(HIT))) + 
       (1.69 * (sum(HIT2)/len(HIT))) + (3.02 * (sum(HIT3)/len(HIT))) + (3.73 * (sum(HR)/len(HIT))) + 
       (0.29 * (sum(BB)/len(HIT) - sum(IB)/len(HIT) + sum(HP)/len(HIT))) +
       (0.492 * (sum(SH)/len(HIT) + sum(SF)/len(HIT) + sum(SB)/len(HIT))) - (0.4 * (sum(KK)/len(HIT))))
A_C = sum(PA)/len(HIT) + sum(BB)/len(HIT) + sum(HP)/len(HIT) + sum(SH)/len(HIT) + sum(SF)/len(HIT)
A_RC = ((2.4 * A_C + A_A) * (3 * A_C + A_B)) / (9 * A_C) - 0.9 * A_C
A_RC = A_RC/27
A_RC

15.06675241073592

In [54]:
OW_list = []
for z in RC_list :
    OW_list.append((z**2) / ((z**2) + (A_RC**2)))

In [57]:
bat_19['OW%'] = OW_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.351813,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235,0.650651,0.999172
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.344211,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620,0.638638,0.999021
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.372162,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128,0.686838,0.999175
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.340648,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287,0.697901,0.998743
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.378148,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333,0.641782,0.999342
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.346725,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000,0.644728,0.999016
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.342825,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783,0.681078,0.998760
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.328838,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338,0.652585,0.998542
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.331788,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463,0.669917,0.998493
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.346445,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552,0.688036,0.998873

### BABIP
인플레이 타구에 대한 타율

In [58]:
BABIP = (H – HR)/(AB – K – HR + SF)

SyntaxError: invalid character in identifier (<ipython-input-58-232b85e04f52>, line 1)

In [59]:
BABIP_list = []
for y in range(0, len(bat_19)) :
    BABIP_list.append((HIT[y] - HR[y]) / (AB[y] - KK[y] - HR[y] + SF[y]))
bat_19['BABIP'] = BABIP_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%,BABIP
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235,0.650651,0.999172,0.305222
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620,0.638638,0.999021,0.317922
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128,0.686838,0.999175,0.328688
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287,0.697901,0.998743,0.307163
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333,0.641782,0.999342,0.319081
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000,0.644728,0.999016,0.312552
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783,0.681078,0.998760,0.290694
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338,0.652585,0.998542,0.310241
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463,0.669917,0.998493,0.306129
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552,0.688036,0.998873,0.303951

In [61]:
bat_19 = bat_19.drop(['선수 수'], axis = 1)
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,OW%,BABIP
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
두산,4993,4313,599,643,1162,200,31,69,101,36,...,0.309297,0.698722,22.751508,0.842648,26.428261,0.108741,81.988235,0.650651,0.999172,0.305222
KT,4929,4380,502,574,1194,154,17,80,99,39,...,0.264384,0.656860,22.918135,0.848820,26.761429,0.097717,88.491620,0.638638,0.999021,0.317922
키움,4670,4122,590,643,1166,197,32,81,107,30,...,0.316594,0.731106,29.132449,1.078980,33.226000,0.122271,92.202128,0.686838,0.999175,0.328688
KIA,4507,3982,474,495,1046,191,16,64,79,34,...,0.287042,0.653355,16.990964,0.629295,20.237840,0.104219,70.713287,0.697901,0.998743,0.307163
NC,5208,4580,563,624,1300,228,26,106,86,44,...,0.313755,0.725661,25.525407,0.945385,28.954435,0.130568,94.958333,0.641782,0.999342,0.319081
LG,5005,4438,518,591,1193,217,15,75,105,44,...,0.280306,0.660294,22.857162,0.846562,26.971048,0.106354,87.500000,0.644728,0.999016,0.312552
삼성,4726,4177,467,544,1052,187,24,93,114,43,...,0.303328,0.654674,15.836052,0.586520,19.446074,0.123055,102.434783,0.681078,0.998760,0.290694
한화,4861,4325,485,523,1100,195,14,70,81,44,...,0.264046,0.613515,16.429946,0.608517,20.834417,0.100116,75.099338,0.652585,0.998542,0.310241
롯데,4678,4204,460,486,1071,184,14,77,57,26,...,0.262607,0.608909,16.859281,0.624418,21.110783,0.105376,65.507463,0.669917,0.998493,0.306129
SK,4612,4105,501,505,1084,182,12,84,90,38,...,0.281364,0.662416,21.362938,0.791220,25.099619,0.111571,86.896552,0.688036,0.998873,0.303951

In [62]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19.to_csv('2019_타자_팀별_Saber_수정1.csv', encoding = 'cp949')