In [20]:
import os
import pandas as pd
from sklearn.decomposition import PCA

In [8]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율\전처리')
df_1 = pd.read_csv('2019_전포지션_수비점수_March_kWAR_AHP.csv', encoding = 'cp949')
df_1.index = df_1['선수명']
del df_1['선수명']
df_1

          IP     E  March_score  kWAR_score  AHP_score
선수명
강경학   273.00   4.0     1468.641     147.829     39.993
강로한   709.67  20.0     3910.467     449.717    105.735
강민국   245.67   9.0     1487.254     171.306     44.404
강민호   842.00   8.0     6661.904     832.738    308.113
강백호   622.66   3.0     1549.272     127.421     23.109
..       ...   ...          ...         ...        ...
홍창기    52.00   0.0      136.500      13.400      2.337
황대인    48.00   0.0      100.000       1.200      1.260
황윤호   297.67   6.0     1534.647     177.799     38.623
황재균  1026.67  11.0     4123.564     602.866    127.589
황진수    10.33   0.0       37.320       5.598      1.157

[281 rows x 5 columns]

ValueError: No axis named 나지완 for object type DataFrame

In [14]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_2 = pd.read_csv('2019_타자_Saber.csv', encoding = 'cp949')
df_2.index = df_2['Name']
del df_2['Name']
df_2

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
Name,,,,,,,,,,,,,,,,,,,,,
이정후,630,574,68,91,193,31,10,6,13,7,...,0.29094,0.80397,95.03027,3.51964,92.560,0.12021,8.21053,0.53310,0.35150,0.96536
김하성,625,540,104,112,166,38,2,19,33,4,...,0.47593,0.96154,96.32271,3.56751,104.670,0.18333,24.11538,0.62520,0.32813,0.96626
정은원,624,564,57,83,148,27,6,8,14,7,...,0.28191,0.63636,58.53332,2.16790,69.292,0.11170,10.18182,0.53814,0.30369,0.91360
이천웅,613,546,48,88,168,24,3,2,21,10,...,0.24359,0.71571,71.92514,2.66389,75.394,0.06593,3.65217,0.53459,0.35853,0.94106
최정,606,503,99,86,147,27,0,29,3,2,...,0.47714,0.99171,95.73611,3.54578,107.064,0.22664,5.43750,0.67752,0.30256,0.96586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
박민석,1,1,0,0,0,0,0,0,0,0,...,0.00000,0.00000,-0.10000,-0.00370,-0.090,0.00000,NaN,247.77700,0.00000,0.00003
박상언,1,1,0,0,0,0,0,0,0,0,...,0.00000,0.00000,-0.20667,-0.00765,-0.098,0.00000,NaN,247.77700,NaN,0.00013
추재현,1,1,0,0,0,0,0,0,0,0,...,0.00000,0.00000,-0.10000,-0.00370,-0.090,0.00000,NaN,247.77700,0.00000,0.00003
김주형,1,1,0,0,0,0,0,0,0,0,...,0.00000,0.00000,-0.10000,-0.00370,-0.090,0.00000,NaN,247.77700,0.00000,0.00003
양우현,1,1,0,0,0,0,0,0,0,0,...,0.00000,0.00000,-0.10000,-0.00370,-0.090,0.00000,NaN,247.77700,0.00000,0.00003

In [17]:
## 144타석 이상
df_21 = df_2[df_2['PA'] >= 144]
## 신인 이학주, 노시환 제외
df_21 = df_21.drop(['이학주', '노시환'])
df_21

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
Name,,,,,,,,,,,,,,,,,,,,,
이정후,630,574,68,91,193,31,10,6,13,7,...,0.29094,0.80397,95.03027,3.51964,92.560,0.12021,8.21053,0.53310,0.35150,0.96536
김하성,625,540,104,112,166,38,2,19,33,4,...,0.47593,0.96154,96.32271,3.56751,104.670,0.18333,24.11538,0.62520,0.32813,0.96626
정은원,624,564,57,83,148,27,6,8,14,7,...,0.28191,0.63636,58.53332,2.16790,69.292,0.11170,10.18182,0.53814,0.30369,0.91360
이천웅,613,546,48,88,168,24,3,2,21,10,...,0.24359,0.71571,71.92514,2.66389,75.394,0.06593,3.65217,0.53459,0.35853,0.94106
최정,606,503,99,86,147,27,0,29,3,2,...,0.47714,0.99171,95.73611,3.54578,107.064,0.22664,5.43750,0.67752,0.30256,0.96586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이우성,168,151,22,19,33,4,0,6,0,0,...,0.29139,0.57025,11.04339,0.40901,16.510,0.14570,0.00000,1.64929,0.25234,0.27347
허일,162,149,17,14,38,4,0,1,2,1,...,0.16779,0.53097,12.49533,0.46279,14.696,0.04698,1.33333,1.62984,0.30833,0.32518
김찬형,154,141,12,16,39,4,2,1,3,4,...,0.16312,0.58879,14.18193,0.52526,15.792,0.07801,1.50000,1.72412,0.31667,0.38300
나지완,153,129,17,12,24,5,0,6,0,0,...,0.41085,0.63889,10.27258,0.38047,16.014,0.17829,0.00000,1.85243,0.20455,0.24568
최항,147,127,14,12,29,5,0,0,2,0,...,0.22047,0.53465,9.87557,0.36576,12.368,0.03937,0.00000,1.82644,0.27885,0.23136

### 주성분

In [19]:
df_22 = df_21.iloc[:, -14:]
df_22

,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
Name,,,,,,,,,,,,,,
이정후,0.38596,0.45645,0.84241,0.28780,0.29094,0.80397,95.03027,3.51964,92.560,0.12021,8.21053,0.53310,0.35150,0.96536
김하성,0.38942,0.49074,0.88016,0.29793,0.47593,0.96154,96.32271,3.56751,104.670,0.18333,24.11538,0.62520,0.32813,0.96626
정은원,0.31715,0.37411,0.69127,0.23625,0.28191,0.63636,58.53332,2.16790,69.292,0.11170,10.18182,0.53814,0.30369,0.91360
이천웅,0.37767,0.37363,0.75129,0.26336,0.24359,0.71571,71.92514,2.66389,75.394,0.06593,3.65217,0.53459,0.35853,0.94106
최정,0.39934,0.51889,0.91823,0.30942,0.47714,0.99171,95.73611,3.54578,107.064,0.22664,5.43750,0.67752,0.30256,0.96586
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이우성,0.28144,0.36424,0.64568,0.21771,0.29139,0.57025,11.04339,0.40901,16.510,0.14570,0.00000,1.64929,0.25234,0.27347
허일,0.31481,0.30201,0.61683,0.21717,0.16779,0.53097,12.49533,0.46279,14.696,0.04698,1.33333,1.62984,0.30833,0.32518
김찬형,0.32237,0.35461,0.67698,0.23372,0.16312,0.58879,14.18193,0.52526,15.792,0.07801,1.50000,1.72412,0.31667,0.38300
나지완,0.30065,0.36434,0.66499,0.22638,0.41085,0.63889,10.27258,0.38047,16.014,0.17829,0.00000,1.85243,0.20455,0.24568
최항,0.32192,0.26772,0.58963,0.21179,0.22047,0.53465,9.87557,0.36576,12.368,0.03937,0.00000,1.82644,0.27885,0.23136

In [24]:
pca = PCA(n_components = 3)
PC = pca.fit_transform(df_22)
principals = pd.DataFrame(PC, columns = ['P1', 'P2', 'P3'])
print('주성분 설명력 : ', pca.explained_variance_ratio_)
print('주성분 설명력 합 :', sum(pca.explained_variance_ratio_))
print('고유값', pca.explained_variance_)
prins = pd.DataFrame(pca.components_)
prins.columns = df_22.columns
prins.index = ['P1', 'P2', 'P3']
prins

주성분 설명력 :  [0.98441232 0.01084108 0.00468454]
주성분 설명력 합 : 0.9999379357173936
고유값 [1153.92803069   12.70791408    5.49121289]

,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
P1,0.000958,0.001604,0.002562,0.000832,0.001599,0.003425,0.697176,0.025821,0.713457,0.000781,0.064344,-0.007254,0.000511,0.006304
P2,-0.002065,-0.000413,-0.002478,-0.001033,0.002139,-0.001206,-0.170104,-0.006300,0.077863,0.000997,0.982307,-0.003292,-0.000446,-0.002544
P3,-0.003833,0.002202,-0.001631,-0.001175,0.014028,0.001310,-0.695292,-0.025751,0.695990,0.008770,-0.175835,-0.016396,-0.003531,0.002447

In [27]:
GEN_list = []
POW_list = []
SPD_list = []

for a in range(0, len(df_22)) :
    GEN = 0
    POW = 0
    SPD = 0
    
    for b in range(0, len(df_22.columns)) :            
        GEN += df_22.iloc[a, b] * prins.iloc[0, b]
        POW += df_22.iloc[a, b] * prins.iloc[1, b]
        SPD += df_22.iloc[a, b] * prins.iloc[2, b]
    
    GEN_list.append(GEN)
    POW_list.append(POW)
    SPD_list.append(SPD)

In [28]:
df_fin = pd.DataFrame(index = df_22.index)
df_fin['P1'] = GEN_list
df_fin['P2'] = POW_list
df_fin['P3'] = SPD_list
df_fin

              P1         P2        P3
Name
이정후   132.918765  -0.922943 -3.190945
김하성   143.484779  15.423109  1.542915
정은원    90.963587   5.419466  5.678921
이천웅   104.246852  -2.801268  1.748730
최정    143.581366  -2.638262  6.901382
...          ...        ...       ...
이우성    19.484030  -0.604304  3.779138
허일     19.289201   0.316494  1.268638
김찬형    21.259503   0.277548  0.826666
나지완    18.590882  -0.512094  3.969306
최항     15.711479  -0.728488  1.704094

[104 rows x 3 columns]

In [32]:
df_fin['E/IP'] = 1 - df_1['E'] / df_1['IP']
df_fin['Sal_19'] = df_21['Money_19']
df_fin

              P1         P2        P3      E/IP  Sal_19
Name
이정후   132.918765  -0.922943 -3.190945  0.998249   23000
김하성   143.484779  15.423109  1.542915  0.981589   32000
정은원    90.963587   5.419466  5.678921  0.989100    5500
이천웅   104.246852  -2.801268  1.748730  0.999066   15000
최정    143.581366  -2.638262  6.901382  0.987872  120000
...          ...        ...       ...       ...     ...
이우성    19.484030  -0.604304  3.779138  0.996273    4000
허일     19.289201   0.316494  1.268638  0.993877    3000
김찬형    21.259503   0.277548  0.826666  0.991943    4300
나지완    18.590882  -0.512094  3.969306  1.000000   60000
최항     15.711479  -0.728488  1.704094  0.990415   11000

[104 rows x 5 columns]

In [40]:
1 - df_1['E'] / df_1['IP']

선수명
강경학      0.985348
강로한      0.971818
강민국      0.963365
강민호      0.990499
강백호      0.995182
강승호      0.989362
강진성      0.992629
고명성      0.966102
고승민      0.989189
고장혁      0.957596
고종욱      0.994282
공민규      0.983193
구본혁      0.996341
구자욱      0.997702
국해성      0.975000
권희동      0.994907
김강민      0.996833
김경호      1.000000
김규민      0.998077
김대한      0.980769
김도환      0.996663
김동엽      0.992327
김동한      0.988722
김문호      0.994614
김민성      0.992871
김민수      0.994827
김민식      0.988462
김민하      0.994220
김민혁      0.995570
김병희      1.000000
김사훈      1.000000
김상수      0.989930
김선빈      0.989043
김성욱      0.997419
김성현      0.977266
김성훈      0.984429
김영환      1.000000
김용의      0.990138
김웅빈      1.000000
김은성      0.956522
김응민      1.000000
김인태      1.000000
김인환      0.989691
김재성      1.000000
김재율      1.000000
김재현      1.000000
김재호      0.989933
김재환      1.000000
김종민      1.000000
김주찬      0.990072
김주형      1.000000
김준완      1.000000
김준태      0.991525
김지수      0.985849
김진곤      1.000000
김진형      1.000000
김찬형      0.991943
김창평      1.000000
김창혁      1.000000
김철호      1.000000
김태군      1.000000
김태균      0.995522
김태근      1.000000
김태연      0.934768
김태진      0.995833
김하성      0.981589
김헌곤      1.000000
김현수      0.999040
김형준      0.996512
김혜성      0.983152
김호재      1.000000
김회성      0.992656
나경민      1.000000
나성범      1.000000
나종덕      0.991018
나주환      0.998106
나지완      1.000000
남태혁      1.000000
노수광      0.996652
노시환      0.983784
노진혁      0.993750
러프       0.993592
로맥       0.996611
로하스      0.994484
류승현      0.996771
류지혁      0.984081
류형우      1.000000
모창민      0.990826
문규현      0.980392
문상철      0.962024
문선재      0.985000
민병헌      0.997497
박건우      0.997007
박경수      0.990851
박계범      0.978331
박동원      0.998355
박민석      1.000000
박민우      0.990305
박병호      0.993382
박석민      0.976858
박세혁      0.992535
박승규      1.000000
박승욱      0.990942
박용택      1.000000
박유연      1.000000
박정권      1.000000
박정음      1.000000
박준태      1.000000
박준혁      1.000000
박지규      0.977778
박찬도      1.000000
박찬호      0.985977
박한결      1.000000
박한이      0.984455
박해민      0.998279
박헌욱      1.000000
배성근      0.973451
배영섭      1.000000
배정대      0.995312
백동훈      1.000000
백승민      0.981132
백승현      0.987013
백용환      0.980830
백창수      1.000000
베탄코트     0.974115
변우혁      0.992593
샌즈       0.995340
서건창      0.987526
서상우      1.000000
서예일      1.000000
손시헌      0.988383
손아섭      0.996250
손주인      0.954889
송광민      0.983573
송민섭      1.000000
송성문      0.989378
송승환      1.000000
송준석      0.991379
스몰린스키    0.993416
신민재      1.000000
신범수      0.992105
신본기      0.984088
신성현      0.982660
신용수      0.926376
심우준      0.989423
아수아헤     0.992221
안상현      0.979522
안승한      0.983193
안중열      0.986900
안치영      1.000000
안치홍      0.986341
양성우      1.000000
양의지      0.997235
양종민      0.966575
예진원      1.000000
오선우      1.000000
오선진      0.987776
오윤석      0.989641
오재원      0.985537
오재일      0.996169
오정환      0.986842
오준혁      1.000000
오지환      0.989101
오태곤      0.988660
윌리엄슨     0.993251
윌슨       0.992519
유강남      0.992771
유민상      0.989474
유영준      1.000000
유장혁      1.000000
유재신      0.993576
유한준      0.994854
윤석민      0.983801
윤수강      0.833333
윤진호      0.992011
윤해진      1.000000
이대형      1.000000
이대호      0.993228
이동훈      1.000000
이명기      0.998053
이범호      1.000000
이상호      0.990440
이성곤      1.000000
이성규      0.963415
이성열      0.990926
이성우      0.985714
이우성      0.996273
이원석      0.982409
이원재      0.992434
이유찬      0.970300
이인행      1.000000
이인혁      1.000000
이재원      0.994236
이정후      0.998249
이정훈      1.000000
이준수      0.985883
이지영      0.995041
이진영      1.000000
이찬건      1.000000
이창열      1.000000
이창진      0.995085
이천웅      0.999066
이학주      0.979751
이해창      0.990322
이현동      0.857143
이현석      1.000000
이형종      0.997356
이흥련      1.000000
임병욱      0.995578
임재현      1.000000
임지열      0.933333
장성우      0.994516
장승현      1.000000
장영석      0.986345
장운호      1.000000
장진혁      0.995960
전민수      1.000000
전민재      1.000000
전병우      0.980131
전준우      0.996567
전준호      1.000000
정근우      0.989267
정범모      0.990291
정병곤      0.987125
정보근      1.000000
정상호      1.000000
정수빈      0.997038
정은원      0.989100
정의윤      0.997340
정주현      0.986626
정준혁      1.000000
정진기      1.000000
정진호      1.000000
정현       1.000000
정훈       0.990338
조셉       0.988796
조용호      1.000000
조홍석      1.000000
주효상      0.984848
지석훈      0.987406
지성준      1.000000
채은성      0.997744
채태인      0.997079
최경모      0.957447
최민재      1.000000
최선호      1.000000
최승민      1.000000
최승준      1.000000
최영진      0.986921
최원준      0.988024
최윤석      0.937500
최재훈      0.994133
최정       0.987872
최정민      1.000000
최정용      0.972222
최주환      0.994253
최준우      1.000000
최진행      1.000000
최항       0.990415
최형우      1.000000
추재현      1.000000
터커       0.994792
페게로      0.974249
페르난데스    0.974359
하주석      0.947368
한동민      0.994823
한동희      0.977556
한승택      0.992877
한준수      1.000000
해즐베이커    0.988095
허경민      0.992613
허도환      0.991747
허일       0.993877
허정협      1.000000
호잉       0.998078
홍재호      0.979592
홍창기      1.000000
황대인      1.000000
황윤호      0.979843
황재균      0.989286
황진수      1.000000
dtype: float64

In [33]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
df_fin.to_csv('2019_144타석이상_주성분3개_에러_19연봉_신인제외.csv', encoding = 'cp949')

In [39]:
pd.options.display.max_rows = 999

### 타격지표

In [45]:
df_23 = df_21[['RBI', 'RUN', 'HIT', 'HR', 'SB', 'OPS', 'Money_19']]
df_23['E/IP'] = df_fin['E/IP']
df_23

<ipython-input-45-7936f28efce8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_23['E/IP'] = df_fin['E/IP']

      RBI  RUN  HIT  HR  SB      OPS  Money_19      E/IP
Name
이정후    68   91  193   6  13  0.84241     23000  0.998249
김하성   104  112  166  19  33  0.88016     32000  0.981589
정은원    57   83  148   8  14  0.69127      5500  0.989100
이천웅    48   88  168   2  21  0.75129     15000  0.999066
최정     99   86  147  29   3  0.91823    120000  0.987872
전준우    83   85  164  22   8  0.83941     50000  0.996567
김현수    82   75  160  11   3  0.80701    130000  0.999040
박해민    44   64  121   5  24  0.64617     36000  0.998279
김재환    91   76  140  15   3  0.79671     73000  1.000000
손아섭    63   78  151  10  13  0.76018    150000  0.996250
유한준    86   61  159  14   3  0.82568     60000  0.994854
최형우    86   65  137  17   0  0.89726    150000  1.000000
이대호    88   48  138  16   0  0.79024    250000  0.993228
오지환    53   63  119   9  27  0.71732     40000  0.989101
이명기    36   62  142   2  14  0.71257     22000  0.998053
김상수    38   76  127   5  21  0.71224     25000  0.989930
박찬호    49   60  131   2  39  0.61783      4200  0.985977
허경민    60   71  137   4  11  0.72062     38500  0.992613
박건우    64   83  146  10  12  0.86245     38500  0.997007
박병호    98   92  121  33   0  0.95868    150000  0.993382
오재일   102   76  137  21   2  0.86327     30000  0.996169
박민우    45   89  161   1  18  0.83643     38000  0.990305
구자욱    71   66  127  15  11  0.77121     30000  0.997702
김민혁    32   68  131   0  22  0.64795      3900  0.995570
채은성    72   59  148  12   2  0.79202     31000  0.997744
정수빈    41   75  117   0  26  0.68470     24500  0.997038
고종욱    56   76  159   3  31  0.76771     11000  0.994282
황재균    67   78  127  20  10  0.82352    120000  0.989286
박세혁    63   58  123   4   8  0.73548     10000  0.992535
강백호    65   72  147  13   9  0.91128     12000  0.995182
이재원    75   33  121  12   1  0.71759    140000  0.994236
한동민    52   52  113  12   0  0.77029     33000  0.994823
김태균    62   47  132   6   3  0.77692    100000  0.995522
박경수    65   43  104  10   0  0.71069     40000  0.990851
서건창    41   67  128   2  17  0.75530     35000  0.987526
송광민    51   50  120   7   8  0.65496     25000  0.983573
이형종    63   56  120  13   6  0.79912     17000  0.997356
이성열    85   60  106  21   8  0.80693     32000  0.990926
김성현    34   45  105   1   6  0.60219     28000  0.977266
김재호    48   51  101   4   3  0.73688     65000  0.989933
이창진    48   57  108   6   8  0.74516      3100  0.995085
유강남    49   44  113  16   0  0.77185     21000  0.992771
김헌곤    46   57  122   5  10  0.74833     15500  1.000000
김강민    50   54  114   8  15  0.69358     40000  0.996833
양의지    68   61  138  20   4  1.01227    200000  0.997235
이원석    76   44   97  19   2  0.76722     30000  0.982409
오선진    36   37   88   3   7  0.59526      7500  0.987776
최재훈    31   47  108   3   3  0.76014     12500  0.994133
김선빈    40   55  115   3   5  0.73029     30000  0.989043
노수광    28   69   97   2  27  0.64442     26500  0.996652
박석민    74   49   96  19   1  0.87096     75000  0.976858
심우준    28   54  109   3  24  0.66794      8500  0.989423
정주현    27   53   87   2  15  0.59946      8800  0.986626
민병헌    43   52  112   9  13  0.83205    125000  0.997497
정의윤    59   44  107  13   0  0.78947     30000  0.997340
임병욱    41   39   92   0  10  0.61907     10000  0.995578
권희동    41   37   89   6   3  0.71416     14000  0.994907
장성우    41   25   96   7   0  0.66398      9500  0.994516
신본기    26   43   96   1   3  0.60173     16000  0.984088
장영석    62   41   92   7   0  0.65401      5300  0.986345
안치홍    49   45  114   5   4  0.79150     50000  0.986341
김민성    50   44   94   8   2  0.69442     40000  0.992871
김태진    46   44  103   5  12  0.68425      3300  0.995833
강민호    45   36   81  13   0  0.71920    125000  0.990499
오태곤    35   63   88   6  19  0.66847      8000  0.988660
노진혁    43   51   92  13   0  0.77954     10000  0.993750
김혜성    32   57   96   0  20  0.69366      7000  0.983152
모창민    55   49  104  10   3  0.82379     30000  0.990826
김주찬    32   35  101   3   3  0.71367     40000  0.990072
박동원    55   50   94  10   1  0.81203      9000  0.998355
장진혁    24   42   80   1  13  0.66592      3800  0.995960
김성욱    36   38   66   9   6  0.68923     13000  0.997419
이지영    39   40   87   1   5  0.63186     21000  0.995041
최주환    47   27   79   4   0  0.69722     38500  0.994253
류지혁    34   36   69   0  18  0.60881     12500  0.984081
강로한    25   38   69   4   7  0.65369      2900  0.971818
정근우    30   37   77   3   8  0.68823     70000  0.989267
한승택    27   22   56   3   1  0.60172      6000  0.992877
이원재    36   31   66   8   1  0.70525      5000  0.992434
최영진    20   29   63   5   4  0.67437      5300  0.986921
이상호    12   30   65   0  10  0.61414      8000  0.990440
최원준    18   33   46   1   8  0.54535     10000  0.988024
김규민    24   33   55   3   2  0.65733      5800  0.998077
나주환    20   14   50   3   1  0.57193     32000  0.998106
박승욱    15   24   52   3   4  0.60739      6600  0.990942
오윤석    21   21   44   1   0  0.54212      3000  0.989641
정훈     17   26   43   2   4  0.61367      8000  0.990338
박용택    22   19   55   1   3  0.68312     80000  1.000000
김동엽    25   15   42   6   2  0.60386     18500  0.992327
조용호    19   15   55   0   3  0.72002      4000  1.000000
김용의    17   35   39   0   8  0.59486      8500  0.990138
나종덕    13   12   23   3   0  0.38271      4300  0.991018
한동희     9   12   38   2   1  0.55395      4900  0.977556
오재원    18   30   29   3   6  0.53851     55000  0.985537
박계범    25   26   43   4   5  0.74044      3000  0.978331
유민상    26   23   51   5   0  0.84900      4300  0.989474
채태인    29   11   42   5   0  0.70938     20000  0.997079
윤석민    17    4   39   2   0  0.54837     24000  0.983801
지석훈    15   15   34   2   0  0.62826     15000  0.987406
이우성    22   19   33   6   0  0.64568      4000  0.996273
허일     17   14   38   1   2  0.61683      3000  0.993877
김찬형    12   16   39   1   3  0.67698      4300  0.991943
나지완    17   12   24   6   0  0.66499     60000  1.000000
최항     14   12   29   0   2  0.58963     11000  0.990415

In [46]:
df_23.to_csv('2019_144타석이상_타격지표6개_에러_19연봉_신인제외.csv', encoding = 'cp949')