In [2]:
import os
import pandas as pd
import numpy as np

In [4]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19 = pd.read_csv('2019_타자_DEA_OPS.csv', encoding = 'cp949')
bat_19.index = bat_19['Name']
del bat_19['Name']
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

In [5]:
BB = bat_19['BB']
HIT = bat_19['HIT']
HIT2 = bat_19['H2']
HIT3 = bat_19['H3']
HR = bat_19['HR']
PA = bat_19['PA']
AB = bat_19['AB']
RBI = bat_19['RBI']
RUN = bat_19['RUN']
HP = bat_19['HP']
SB = bat_19['SB']
CS = bat_19['CS']
GD = bat_19['GD']
IB = bat_19['IB']
SH = bat_19['SH']
SF = bat_19['SF']
KK = bat_19['KK']
P_HIT_CN = bat_19['P_HIT_CN']
P_AB_CN = bat_19['P_AB_CN']

### OPS

#### 출루율 (안타+볼넷+몸에 맞은 공) / (타수+볼넷+몸에 맞은 공+희생플라이)
(HIT+BB+HP)/(AB+BB+HP+SF)

In [4]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

In [5]:
OBP_list = []
for i in range(0, len(bat_19)) :
    up = bat_19.iloc[i, 4] + bat_19.iloc[i, 12] + bat_19.iloc[i, 14]
    down = bat_19.iloc[i, 1] + bat_19.iloc[i, 12] + bat_19.iloc[i, 14] + bat_19.iloc[i, 11]
    OBP = up/down
    OBP_list.append(OBP)

<ipython-input-5-e6868eca7200>:5: RuntimeWarning: invalid value encountered in longlong_scalars
  OBP = up/down

In [6]:
bat_19['OBP'] = OBP_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

#### 장타율 (단타 수 + 2루타 수*2 + 3루타 수*3 + 홈런 수*4)/타수

In [7]:
SLG_list = []
for j in range(0, len(bat_19)) :
    hit1 = bat_19.iloc[j, 4] - bat_19.iloc[j, 5] - bat_19.iloc[j, 6] - bat_19.iloc[j, 7]
    hit2 = bat_19.iloc[j, 5] * 2
    hit3 = bat_19.iloc[j, 6] * 3
    hit4 = bat_19.iloc[j, 7] * 4
    
    up = hit1 + hit2 + hit3 + hit4
    down = bat_19.iloc[j, 1]
    
    SLG = up/down
    SLG_list.append(SLG)

<ipython-input-7-d2b20427d22e>:11: RuntimeWarning: invalid value encountered in longlong_scalars
  SLG = up/down

In [8]:
bat_19['SLG'] = SLG_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

#### OPS = 출루율 + 장타율

In [9]:
bat_19['OPS'] = [k + l for k, l in zip(bat_19['OBP'], bat_19['SLG'])]
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

### GPA(Gleeman Production Average, Gross Production Average)
((출루율×1.8) + 장타율) / 4
기존 OPS 수치를 보정함 출루율이 장타율 보다 80% 더 중요하다고 해서

In [10]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,102,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243
박병호,532,432,98,92,121,22,0,33,0,1,...,110,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681
양의지,459,390,68,61,138,26,0,20,4,3,...,100,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267
손아섭,568,512,63,78,151,22,1,10,13,8,...,112,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179
최형우,555,456,86,65,137,31,1,17,0,1,...,115,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,1,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000

In [11]:
GPA_list = [(bat_19.iloc[m, 25] * 1.8 + bat_19.iloc[m, 26]) / 4 for m in range(0, len(bat_19))]
bat_19['GPA'] = GPA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,GPA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243,0.268599
박병호,532,432,98,92,121,22,0,33,0,1,...,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681,0.319370
양의지,459,390,68,61,138,26,0,20,4,3,...,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267,0.340649
손아섭,568,512,63,78,151,22,1,10,13,8,...,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179,0.262002
최형우,555,456,86,65,137,31,1,17,0,1,...,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262,0.306838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294,0.155882
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000,0.175000

### SECA (Secondary Average)
SECA = (BB + (TB - H) + (SB -CS)) / AB

In [12]:
SecA는 루타에서 단타를 빼 추가 진루를 얼마나 얻어냈는지 보는 스탯입니다. 
타율은 장타가 구분되지 않고 볼넷이 포함되지 않기 때문에 타율로  평가할 수 없는 부분인 장타력과 
선구안을 보는 것입니다. 분자에 볼넷이 들어가는데 분모에는 볼넷이 포함되지 않는 문제가 있습니다.
단타가 빠지기 때문에 SecA 만으로는 종합적인 타격능력을 평가할 수는 없고 타율의 보조적인 역할을 합니다.
리그평균 SecA는 0.200 ~ 0.250 정도입니다.

SyntaxError: invalid syntax (<ipython-input-12-2c8de78badc8>, line 1)

In [13]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,GPA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243,0.268599
박병호,532,432,98,92,121,22,0,33,0,1,...,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681,0.319370
양의지,459,390,68,61,138,26,0,20,4,3,...,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267,0.340649
손아섭,568,512,63,78,151,22,1,10,13,8,...,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179,0.262002
최형우,555,456,86,65,137,31,1,17,0,1,...,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262,0.306838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294,0.155882
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000,0.175000

In [14]:
B_list = [bat_19.iloc[n, 5] * 2 + bat_19.iloc[n, 6] * 3 + bat_19.iloc[n, 7] * 4 
          for n in range(0, len(bat_19))]
SECA_list = [(bat_19.iloc[o, 12] + B_list[o] + bat_19.iloc[o, 8] - bat_19.iloc[o, 9]) / 
            bat_19.iloc[o, 1] for o in range(0, len(bat_19))]
bat_19['SECA'] = SECA_list
bat_19

<ipython-input-14-ca68e1f46240>:3: RuntimeWarning: divide by zero encountered in longlong_scalars
  SECA_list = [(bat_19.iloc[o, 12] + B_list[o] + bat_19.iloc[o, 8] - bat_19.iloc[o, 9]) /

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,GPA,SECA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,131,38,내,250000,250000,0.355191,0.435052,0.790243,0.268599,0.329897
박병호,532,432,98,92,121,22,0,33,0,1,...,117,34,내,150000,200000,0.398496,0.560185,0.958681,0.319370,0.585648
양의지,459,390,68,61,138,26,0,20,4,3,...,110,40,포,200000,200000,0.437908,0.574359,1.012267,0.340649,0.464103
손아섭,568,512,63,78,151,22,1,10,13,8,...,123,36,외,150000,200000,0.359788,0.400391,0.760179,0.262002,0.281250
최형우,555,456,86,65,137,31,1,17,0,1,...,137,36,외,150000,150000,0.412613,0.484649,0.897262,0.306838,0.475877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1,내,2700,2700,0.235294,0.200000,0.435294,0.155882,0.200000
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0,외,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,1,0,포,2700,2700,0.250000,0.250000,0.500000,0.175000,0.000000

### TA
TA shows a batter’s offensive contribution. The higher the number, the more contributions and the fewer negative contributions.

In [15]:
TA = (Total Bases + Hit by Pitch + Walks + Stolen Base) ÷ 
(At Bats – Hits + Caught Stealing + Ground Into Double Play)

SyntaxError: invalid syntax (<ipython-input-15-dc8e251db19d>, line 1)

In [16]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,GPA,SECA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,131,38,내,250000,250000,0.355191,0.435052,0.790243,0.268599,0.329897
박병호,532,432,98,92,121,22,0,33,0,1,...,117,34,내,150000,200000,0.398496,0.560185,0.958681,0.319370,0.585648
양의지,459,390,68,61,138,26,0,20,4,3,...,110,40,포,200000,200000,0.437908,0.574359,1.012267,0.340649,0.464103
손아섭,568,512,63,78,151,22,1,10,13,8,...,123,36,외,150000,200000,0.359788,0.400391,0.760179,0.262002,0.281250
최형우,555,456,86,65,137,31,1,17,0,1,...,137,36,외,150000,150000,0.412613,0.484649,0.897262,0.306838,0.475877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,4,1,내,2700,2700,0.235294,0.200000,0.435294,0.155882,0.200000
추재현,1,1,0,0,0,0,0,0,0,0,...,0,0,외,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,1,0,포,2700,2700,0.250000,0.250000,0.500000,0.175000,0.000000

In [17]:
TB_list = [bat_19.iloc[p, 4] - (bat_19.iloc[p, 5] + bat_19.iloc[p, 6] + bat_19.iloc[p, 7])
           + bat_19.iloc[p, 5] * 2 + bat_19.iloc[p, 6] * 3 + bat_19.iloc[p, 7] * 4
           for p in range(0, len(bat_19))]
TA_list = [(TB_list[q] + bat_19.iloc[q, 14] + bat_19.iloc[q, 12] + bat_19.iloc[q, 8]) /
           (bat_19.iloc[q, 1] - bat_19.iloc[q, 4] + bat_19.iloc[q, 9] + bat_19.iloc[q, 16])
           for q in range(0, len(bat_19))]
bat_19['TA'] = TA_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,GPA,SECA,TA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,38,내,250000,250000,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240
박병호,532,432,98,92,121,22,0,33,0,1,...,34,내,150000,200000,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887
양의지,459,390,68,61,138,26,0,20,4,3,...,40,포,200000,200000,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821
손아섭,568,512,63,78,151,22,1,10,13,8,...,36,외,150000,200000,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667
최형우,555,456,86,65,137,31,1,17,0,1,...,36,외,150000,150000,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,1,내,2700,2700,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143
추재현,1,1,0,0,0,0,0,0,0,0,...,0,외,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0,내,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0,포,2700,2700,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333

### RC
빌 제임스가 고안한 한 타자가 (어떤 방식으로든) 만들어낸 득점 생산력. 당연히 높을수록 팀의 승리에 기여하는 바가 크다. 각 숫자들은 득점에 각 항목이 어느 정도 기여했는지를 알려주는 것이라 이해하면 된다. 예를 들면 도루가 0.62라는 것은 도루 한 개가 0.62점에 해당한다는 뜻.

In [ ]:
A: 안타 + 볼넷 - 도루실패 + 몸에맞는공 - 병살타
B: (1.125×단타) + (1.69 x 2루타) + (3.02×3루타) + (3.73×홈런) + .29×(BB-IBB+HBP) + .492×(SH+SF+SB) - (0.4×K)
C: 타수 + 볼넷 + 몸에맞는 공 + 희생번트 + 희생플라이
((2.4C + A)*(3C + B)) / 9C - 0.9C
추가사항 + 득점권 안타 수 - (득점권 타수 * 타율) + 주자 있을 때 홈런 - (주자 있을 때 타수 * 홈런) / 타수
    주자 있을 때 홈런이랑 타수를 어떻게 알아내냐고??????

In [14]:
bat_19[bat_19.index == '나종덕']

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,RC
Name,,,,,,,,,,,,,,,,,,,,,
나종덕,209,185,13,12,23,4,0,3,0,0,...,2.0,41,4,포,4300,4300,0.188119,0.194595,0.382713,-7.192042

In [6]:
RC_list = []
for r in range(0, len(bat_19)) :
    A = HIT[r] + BB[r] - CS[r] + HP[r] - GD[r]
    hit1 = (bat_19.iloc[r, 4] - (bat_19.iloc[r, 5] + bat_19.iloc[r, 6] + bat_19.iloc[r, 7]))
    B = ((1.125 * hit1) + (1.69 * HIT2[r]) + (3.02 * HIT3[r]) + (3.73 * HR[r]) + 
         (0.29 * (BB[r] - IB[r] + HP[r])) + (0.492 * (SH[r] + SF[r] + SB[r])) - (0.4 * KK[r]))
    C = AB[r] + BB[r] + HP[r] + SH[r] + SF[r]
    RC_list.append((((2.4 * C) + A) * ((3 * C) + B)) / (9 * C) - (0.9 * C))

<ipython-input-6-e3a5fd782f27>:8: RuntimeWarning: divide by zero encountered in double_scalars
  RC_list.append((((2.4 * C) + A) * ((3 * C) + B)) / (9 * C) - (0.9 * C))

In [7]:
bat_19['RC'] = RC_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS,RC
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,28.833333,131,38,내,250000,250000,0.355191,0.435052,0.790243,65.624862
박병호,532,432,98,92,121,22,0,33,0,1,...,21.000000,117,34,내,150000,200000,0.398496,0.560185,0.958681,81.939497
양의지,459,390,68,61,138,26,0,20,4,3,...,26.500000,110,40,포,200000,200000,0.437908,0.574359,1.012267,86.425331
손아섭,568,512,63,78,151,22,1,10,13,8,...,22.333333,123,36,외,150000,200000,0.359788,0.400391,0.760179,66.206961
최형우,555,456,86,65,137,31,1,17,0,1,...,26.166667,137,36,외,150000,150000,0.412613,0.484649,0.897262,82.879377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,1.000000,4,1,내,2700,2700,0.235294,0.200000,0.435294,-0.490004
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,외,2700,2700,0.000000,0.000000,0.000000,-0.100000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,-0.100000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0,0,내,2700,2700,0.000000,0.000000,0.000000,-0.100000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.000000,1,0,포,2700,2700,0.250000,0.250000,0.500000,-0.088750

In [8]:
bat_19['나종덕']

KeyError: '나종덕'

### RC/27
경기당 득점 기대치. 27아웃당(27타석이 아니다) RC. 27아웃은 한 경기를 가리킨다. 즉, 한 타자를 8명 더 복제해서 1번부터 9번까지 전부 그 타자로만 채웠을 때, 그 팀이 몇 점을 얻을 수 있느냐-라고 이해하면 된다.

In [89]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,Money_19,Money_20,OBP,SLG,OPS,GPA,SECA,TA,RC,XR
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,250000,250000,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,72.470
박병호,532,432,98,92,121,22,0,33,0,1,...,150000,200000,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,98.344
양의지,459,390,68,61,138,26,0,20,4,3,...,200000,200000,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,88.726
손아섭,568,512,63,78,151,22,1,10,13,8,...,150000,200000,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,73.324
최형우,555,456,86,65,137,31,1,17,0,1,...,150000,150000,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,90.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,2700,2700,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,0.344
추재현,1,1,0,0,0,0,0,0,0,0,...,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.090
김주형,1,1,0,0,0,0,0,0,0,0,...,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.090
양우현,1,1,0,0,0,0,0,0,0,0,...,2700,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.090
김성민,4,4,0,0,1,0,0,0,0,0,...,2700,2700,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,0.206

In [36]:
RC27_list = []
for t in bat_19['RC'] :
    RC27_list.append(t/27)
bat_19['RC27'] = RC27_list
bat_19

,Name,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP
0,이대호,549,485,88,48,138,23,1,16,0,...,0.268599,0.329897,0.732240,-6.470584,-0.239651,72.470,0.150515,0.000000,0.639070,0.296837
1,박병호,532,432,98,92,121,22,0,33,0,...,0.319370,0.585648,1.043887,41.231414,1.527089,98.344,0.280093,0.000000,0.770666,0.302405
2,양의지,459,390,68,61,138,26,0,20,4,...,0.340649,0.464103,1.085821,18.100985,0.670407,88.726,0.220513,6.666667,0.802156,0.354354
3,손아섭,568,512,63,78,151,22,1,10,13,...,0.262002,0.281250,0.722667,-6.941102,-0.257078,73.324,0.105469,11.304348,0.588717,0.342233
4,최형우,555,456,86,65,137,31,1,17,0,...,0.306838,0.475877,0.939940,15.982080,0.591929,90.714,0.184211,0.000000,0.698233,0.325203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,임지열,18,15,3,0,2,1,0,0,0,...,0.155882,0.200000,0.357143,-1.773337,-0.065679,0.344,0.066667,NaN,14.733588,0.250000
222,추재현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
223,김주형,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
224,양우현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
225,김성민,4,4,0,0,1,0,0,0,0,...,0.175000,0.000000,0.333333,-0.751250,-0.027824,0.206,0.000000,NaN,61.944250,1.000000

### XR
RC보다 복잡하지만 좀 더 정확한 스탯으로 알려져 있다.

In [ ]:
1루타×0.5 + 2루타×0.72 + 3루타×1.04 + 홈런×1.44 + (몸에 맞는 볼 + 볼넷 - 고의4구)×0.34 +
고의4구×0.25 + 도루×0.18 - 도루실패×0.32 - (타수 - 안타 - 삼진)×0.09 - 삼진×0.098 -
병살타×0.37 + 희생플라이×0.37 + 희생번트×0.04.

In [98]:
XR_list = []
for s in range(0, len(bat_19)) :
    hit1 = (bat_19.iloc[s, 4] - (bat_19.iloc[s, 5] + bat_19.iloc[s, 6] + bat_19.iloc[s, 7]))
    XR_list.append(((hit1 * 0.5) + (HIT2[s] * 0.72) + (HIT3[s] * 1.04) + (HR[s] * 1.44) + 
          ((HP[s] + BB[s] - IB[s]) * 0.34) + (IB[s] * 0.25) + (SB[s] * 0.18) - (CS[s] * 0.32) -
          ((AB[s] - HIT[s] - KK[s]) * 0.09) - (KK[s] * 0.098) - (GD[s] * 0.37) +
          (SF[s] * 0.37) + (SH[s] * 0.04)))

In [99]:
bat_19['XR'] = XR_list
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,Money_20,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,250000,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470
박병호,532,432,98,92,121,22,0,33,0,1,...,200000,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344
양의지,459,390,68,61,138,26,0,20,4,3,...,200000,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726
손아섭,568,512,63,78,151,22,1,10,13,8,...,200000,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324
최형우,555,456,86,65,137,31,1,17,0,1,...,150000,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,2700,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344
추재현,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
김주형,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
양우현,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
김성민,4,4,0,0,1,0,0,0,0,0,...,2700,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206

### ISO (Isolated Power)
ISO = SLG – AVG

In [100]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,Money_20,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,250000,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470
박병호,532,432,98,92,121,22,0,33,0,1,...,200000,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344
양의지,459,390,68,61,138,26,0,20,4,3,...,200000,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726
손아섭,568,512,63,78,151,22,1,10,13,8,...,200000,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324
최형우,555,456,86,65,137,31,1,17,0,1,...,150000,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,2700,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344
추재현,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
김주형,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
양우현,1,1,0,0,0,0,0,0,0,0,...,2700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090
김성민,4,4,0,0,1,0,0,0,0,0,...,2700,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206

In [102]:
ISO_list = []
for u, v in enumerate(bat_19['SLG']) :
    SLG = v
    AVG = (bat_19.iloc[u, 4] / bat_19.iloc[u, 1])
    ISO_list.append(SLG - AVG)
bat_19['ISO'] = ISO_list
bat_19

<ipython-input-102-36cae02f9dd3>:4: RuntimeWarning: invalid value encountered in longlong_scalars
  AVG = (bat_19.iloc[u, 4] / bat_19.iloc[u, 1])

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515
박병호,532,432,98,92,121,22,0,33,0,1,...,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093
양의지,459,390,68,61,138,26,0,20,4,3,...,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469
최형우,555,456,86,65,137,31,1,17,0,1,...,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000

### PSN (Power Speed Number)
PSR = (2 * HR * SB) / (HR+SB)
호타준족? 장타도 잘치고 잘 뛰는

In [106]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OBP,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.355191,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515
박병호,532,432,98,92,121,22,0,33,0,1,...,0.398496,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093
양의지,459,390,68,61,138,26,0,20,4,3,...,0.437908,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.359788,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469
최형우,555,456,86,65,137,31,1,17,0,1,...,0.412613,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.235294,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.250000,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000

In [107]:
PSR_list = []
for w in range(0, len(bat_19)) :
    PSR_list.append((2 * HR[w] * SB[w]) / (HR[w] + SB[w]))
bat_19['PSR'] = PSR_list
bat_19

<ipython-input-107-6a98214386f8>:3: RuntimeWarning: invalid value encountered in longlong_scalars
  PSR_list.append((2 * HR[w] * SB[w]) / (HR[w] + SB[w]))

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000
박병호,532,432,98,92,121,22,0,33,0,1,...,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000
양의지,459,390,68,61,138,26,0,20,4,3,...,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348
최형우,555,456,86,65,137,31,1,17,0,1,...,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
김성민,4,4,0,0,1,0,0,0,0,0,...,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN

### wOBA (Weighted On Base Average) 가중 출루율

In [ ]:
wOBA = (0.689×uBB + 0.722×HBP + 0.892×1B + 1.283×2B + 1.635×3B +
2.135×HR) / (AB + BB – IBB + SF + HBP)
uBB = unintentional base on balls

In [108]:
bat_19

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,SLG,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.435052,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000
박병호,532,432,98,92,121,22,0,33,0,1,...,0.560185,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000
양의지,459,390,68,61,138,26,0,20,4,3,...,0.574359,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.400391,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348
최형우,555,456,86,65,137,31,1,17,0,1,...,0.484649,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.200000,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN
김성민,4,4,0,0,1,0,0,0,0,0,...,0.250000,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN

In [109]:
wOBA_list = []
for x in range(0, len(bat_19)) :
    hit1 = bat_19.iloc[j, 4] - bat_19.iloc[j, 5] - bat_19.iloc[j, 6] - bat_19.iloc[j, 7]
    wOBA_list.append(((0.689 * (BB[x] - IB[x]) + (0.722 * HP[x]) + (0.892 * hit1) + 
                       (1.283 * HIT2[x]) + (1.635 * HIT[3]) + (2.135 * HR[x])) / 
                      (AB[x] + BB[x] - IB[x] + SF[x] + HP[x])))
bat_19['wOBA'] = wOBA_list
bat_19

<ipython-input-109-1b1a824e78f7>:4: RuntimeWarning: divide by zero encountered in double_scalars
  wOBA_list.append(((0.689 * (BB[x] - IB[x]) + (0.722 * HP[x]) + (0.892 * hit1) +

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,OPS,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.790243,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000,0.639070
박병호,532,432,98,92,121,22,0,33,0,1,...,0.958681,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000,0.770666
양의지,459,390,68,61,138,26,0,20,4,3,...,1.012267,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667,0.802156
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.760179,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348,0.588717
최형우,555,456,86,65,137,31,1,17,0,1,...,0.897262,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000,0.698233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.435294,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN,14.733588
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.500000,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN,61.944250

### OW%
Offensive winning percentage. The theoretical winning percentage of a team comprising nine of the same players

In [ ]:
OW% = (RC/27)^2 / ((RC/27)^2 + 리그(RC/27)^2)

In [37]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19 = pd.read_csv('2019_타자_Saber.csv', encoding = 'cp949')
bat_19

,Name,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP
0,이대호,549,485,88,48,138,23,1,16,0,...,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000,0.639070,0.296837
1,박병호,532,432,98,92,121,22,0,33,0,...,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000,0.770666,0.302405
2,양의지,459,390,68,61,138,26,0,20,4,...,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667,0.802156,0.354354
3,손아섭,568,512,63,78,151,22,1,10,13,...,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348,0.588717,0.342233
4,최형우,555,456,86,65,137,31,1,17,0,...,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000,0.698233,0.325203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,임지열,18,15,3,0,2,1,0,0,0,...,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN,14.733588,0.250000
222,추재현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
223,김주형,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
224,양우현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
225,김성민,4,4,0,0,1,0,0,0,0,...,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN,61.944250,1.000000

In [ ]:
RC
A: 안타 + 볼넷 - 도루실패 + 몸에맞는공 - 병살타
B: (1.125×단타) + (1.69 x 2루타) + (3.02×3루타) + (3.73×홈런) + .29×(BB-IBB+HBP) + .492×(SH+SF+SB) - (0.4×K)
C: 타수 + 볼넷 + 몸에맞는 공 + 희생번트 + 희생플라이
((2.4C + A)*(3C + B)) / 9C - 0.9C

In [41]:
## 리그 RC/27
A_A = sum(HIT)/len(HIT) + sum(BB)/len(HIT) - sum(CS)/len(HIT) + sum(HP)/len(HIT) - sum(GD)/len(HIT)
A_B = ((1.125 * (sum(HIT)/len(HIT) - sum(HIT2)/len(HIT) - sum(HIT3)/len(HIT) - sum(HR)/len(HIT))) + 
       (1.69 * (sum(HIT2)/len(HIT))) + (3.02 * (sum(HIT3)/len(HIT))) + (3.73 * (sum(HR)/len(HIT))) + 
       (0.29 * (sum(BB)/len(HIT) - sum(IB)/len(HIT) + sum(HP)/len(HIT))) +
       (0.492 * (sum(SH)/len(HIT) + sum(SF)/len(HIT) + sum(SB)/len(HIT))) - (0.4 * (sum(KK)/len(HIT))))
A_C = sum(PA)/len(HIT) + sum(BB)/len(HIT) + sum(HP)/len(HIT) + sum(SH)/len(HIT) + sum(SF)/len(HIT)
A_RC = ((2.4 * A_C + A_A) * (3 * A_C + A_B)) / (9 * A_C) - 0.9 * A_C
A_RC = A_RC/27
A_RC

0.6666704606520305

In [49]:
OW_list = []
for z in bat_19['RC27'] :
    OW_list.append((z**2) / ((z**2) + (A_RC**2)))

In [50]:
bat_19['OW%'] = OW_list
bat_19

,Name,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP,OW%
0,이대호,549,485,88,48,138,23,1,16,0,...,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000,0.639070,0.296837,0.930030
1,박병호,532,432,98,92,121,22,0,33,0,...,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000,0.770666,0.302405,0.953964
2,양의지,459,390,68,61,138,26,0,20,4,...,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667,0.802156,0.354354,0.958426
3,손아섭,568,512,63,78,151,22,1,10,13,...,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348,0.588717,0.342233,0.931171
4,최형우,555,456,86,65,137,31,1,17,0,...,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000,0.698233,0.325203,0.954956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,임지열,18,15,3,0,2,1,0,0,0,...,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN,14.733588,0.250000,0.000741
222,추재현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000,0.000031
223,김주형,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000,0.000031
224,양우현,1,1,0,0,0,0,0,0,0,...,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000,0.000031
225,김성민,4,4,0,0,1,0,0,0,0,...,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN,61.944250,1.000000,0.000024

### BABIP
인플레이 타구에 대한 타율

In [ ]:
BABIP = (H – HR)/(AB – K – HR + SF)

In [110]:
BABIP_list = []
for y in range(0, len(bat_19)) :
    BABIP_list.append((HIT[y] - HR[y]) / (AB[y] - KK[y] - HR[y] + SF[y]))
bat_19['BABIP'] = BABIP_list
bat_19

<ipython-input-110-ff576388da59>:3: RuntimeWarning: invalid value encountered in longlong_scalars
  BABIP_list.append((HIT[y] - HR[y]) / (AB[y] - KK[y] - HR[y] + SF[y]))

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GPA,SECA,TA,RC,RC27,XR,ISO,PSR,wOBA,BABIP
Name,,,,,,,,,,,,,,,,,,,,,
이대호,549,485,88,48,138,23,1,16,0,0,...,0.268599,0.329897,0.732240,65.624862,2.430550,72.470,0.150515,0.000000,0.639070,0.296837
박병호,532,432,98,92,121,22,0,33,0,1,...,0.319370,0.585648,1.043887,81.939497,3.034796,98.344,0.280093,0.000000,0.770666,0.302405
양의지,459,390,68,61,138,26,0,20,4,3,...,0.340649,0.464103,1.085821,86.425331,3.200938,88.726,0.220513,6.666667,0.802156,0.354354
손아섭,568,512,63,78,151,22,1,10,13,8,...,0.262002,0.281250,0.722667,66.206961,2.452110,73.324,0.105469,11.304348,0.588717,0.342233
최형우,555,456,86,65,137,31,1,17,0,1,...,0.306838,0.475877,0.939940,82.879377,3.069607,90.714,0.184211,0.000000,0.698233,0.325203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
임지열,18,15,3,0,2,1,0,0,0,0,...,0.155882,0.200000,0.357143,-0.490004,-0.018148,0.344,0.066667,NaN,14.733588,0.250000
추재현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
김주형,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
양우현,1,1,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,-0.100000,-0.003704,-0.090,0.000000,NaN,247.777000,0.000000
김성민,4,4,0,0,1,0,0,0,0,0,...,0.175000,0.000000,0.333333,-0.088750,-0.003287,0.206,0.000000,NaN,61.944250,1.000000

In [51]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19.to_csv('2019_타자_Saber.csv', encoding = 'cp949')