In [3]:
import os
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [5]:
kwar = pd.DataFrame()
kwar['포지션'] = ['포수', '1루수', '2루수', '3루수', '유격수', '좌익수', '중견수', '우익수']
kwar['WAR scale'] = [1, -1, 0.2, 0.2, 0.6, -0.6, -0.2, -0.6]
kwar.index = kwar['포지션']
del kwar['포지션']
kwar

     WAR scale
포지션
포수         1.0
1루수       -1.0
2루수        0.2
3루수        0.2
유격수        0.6
좌익수       -0.6
중견수       -0.2
우익수       -0.6

In [6]:
scaler = MinMaxScaler()
scaled_kwar = scaler.fit_transform(kwar)
scaled_kwar

array([[1. ],
       [0. ],
       [0.6],
       [0.6],
       [0.8],
       [0.2],
       [0.4],
       [0.2]])

In [7]:
kwar['MinMax'] = scaled_kwar
kwar

     WAR scale  MinMax
포지션
포수         1.0     1.0
1루수       -1.0     0.0
2루수        0.2     0.6
3루수        0.2     0.6
유격수        0.6     0.8
좌익수       -0.6     0.2
중견수       -0.2     0.4
우익수       -0.6     0.2

In [13]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\수비율')
df_1 = pd.read_csv('2019_전체.csv')
#df_1.index = df_1['선수명']
#del df_1['선수명']
df_1

,선수명,팀명,POS,G,GS,IP,E,PKO,PO,A,DP,FPCT,PB,SB,CS,CS%
0,강경학,한화,유격수,27,17,153,3,0,31,51,18,0.965,0,0,0,-
1,강경학,한화,1루수,18,5,69,0,0,70,3,7,1.000,0,0,0,-
2,강경학,한화,2루수,13,4,51,1,0,20,14,6,0.971,0,0,0,-
3,강로한,롯데,유격수,52,28,261 2/3,12,0,45,78,25,0.911,0,0,0,-
4,강로한,롯데,2루수,38,33,264 2/3,5,0,60,118,25,0.973,0,0,0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,황재균,KT,3루수,117,112,964,10,0,103,215,22,0.970,0,0,0,-
603,황재균,KT,유격수,9,6,54,1,0,12,18,4,0.968,0,0,0,-
604,황재균,KT,1루수,4,1,8 2/3,0,0,12,0,1,1.000,0,0,0,-
605,황진수,롯데,3루수,5,0,9 1/3,0,0,0,1,1,1.000,0,0,0,-
606,황진수,롯데,2루수,1,0,1,0,0,0,0,0,-,0,0,0,-