In [2]:
import os
import pandas as pd
import numpy as np

In [26]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
bat_19 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_개인타자_2018.csv')
bat_19 = bat_19.iloc[:, 6:]
del bat_19['START_CK'], bat_19['BAT_ORDER_NO']
bat_19 = bat_19.sort_values(by = ['P_ID'])
bat_19 = bat_19.reset_index(drop = True)
bat_19

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100,3,3,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0.000000,0,0
1,60100,1,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.000000,0,0
2,60100,2,2,1,1,2,1,1,0,0,...,0,0,0,0,0,0,1,1.000000,1,1
3,60100,1,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
4,60100,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,99810,3,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.000000,1,0
18220,99810,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0.000000,0,0
18221,99810,4,4,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0.333333,3,1
18222,99810,2,2,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0.000000,0,0
18223,99810,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,1,0

In [27]:
## 루프 돌릴 때 마지막 row 하나 더 필요해서 추가
bat_19 = bat_19.append({'P_ID' : 0}, ignore_index = True)

In [28]:
## 선수 한 명의 기록 합친 값이 들어갈 df 생성
bat_19_sum = pd.DataFrame(columns = bat_19.columns)
bat_19_sum['P_ID'] = bat_19['P_ID'].unique()
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60184.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,60288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,60343.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60456.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,95657.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,99563.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,99606.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,99810.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
## 선수 한 명의 1년치 기록 합치기
ID_1 = 60100
row = 0
for d in range(1, len(bat_19.columns)) :
    c = 0
    row = 0
    for a in range(0, len(bat_19)) :
        ID = bat_19.iloc[a, 0]
        if ID == ID_1 :
            c += bat_19.iloc[a, d]

        else :
            bat_19_sum.iloc[row, d] = c
            row += 1
            c = 0
            c += bat_19.iloc[a, d]
            ID_1 = bat_19.iloc[a, 0]

In [30]:
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,169.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60184.0,10.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,...,12.0,0.0,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0
2,60288.0,1.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,0.0
3,60343.0,174.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,60456.0,8.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,...,8.0,0.0,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,95657.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328,99563.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
329,99606.0,205.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330,99810.0,312.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,...,16.0,1.0,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0
331,0.0,NaN,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,...,25.0,1.0,0.0,35.0,3.0,0.0,46.0,19.0,82.0,25.0

In [31]:
## 두 번째칼럼부터 하나씩 밀려서 들어가서 첫 번째 칼럼도 하나씩 밀어줌
PA_list = bat_19_sum['PA'].to_list()
PA_list.insert(0, 0)
PA_list = PA_list[:-1]
bat_19_sum['PA'] = PA_list

In [32]:
## 두 번째칼럼부터 하나씩 밀려서 들어가서 두 번째 칼럼도 하나씩 밀어줌
ID_list = bat_19_sum['P_ID'].to_list()
ID_list.insert(0, 0)
ID_list = ID_list[:-1]
bat_19_sum['P_ID'] = ID_list

In [33]:
## 그리고 나서 첫 번째 쓸모없는 row 삭제
bat_19_sum = bat_19_sum.drop([0])
bat_19_sum = bat_19_sum.reset_index(drop = True)
bat_19_sum

,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,60100.0,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,...,12.0,0.0,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0
1,60184.0,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,0.0
2,60288.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60343.0,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,...,8.0,0.0,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0
4,60456.0,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,79764.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
327,95657.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328,99563.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
329,99606.0,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,...,16.0,1.0,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0
330,99810.0,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,...,25.0,1.0,0.0,35.0,3.0,0.0,46.0,19.0,82.0,25.0

In [34]:
## 선수 ID float -> integer
bat_19_sum.index = [int(f) for f in bat_19_sum['P_ID']]
del bat_19_sum['P_ID']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,12.0,0.0,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,0.0
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,8.0,0.0,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,16.0,1.0,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,25.0,1.0,0.0,35.0,3.0,0.0,46.0,19.0,82.0,25.0

In [35]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_sum.to_csv('2018_타자_sum.csv', encoding = 'cp949')
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,12.0,0.0,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,2.0,0.0
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,8.0,0.0,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,16.0,1.0,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,25.0,1.0,0.0,35.0,3.0,0.0,46.0,19.0,82.0,25.0

In [46]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_sum = pd.read_csv('2018_타자_sum.csv')
bat_19_sum.index = bat_19_sum['Unnamed: 0']
del bat_19_sum['Unnamed: 0']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,12.0,0.0,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.000000,2.0,0.0
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,8.0,0.0,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,3.0,2.000000,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
95657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
99563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,16.0,1.0,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,25.0,1.0,0.0,35.0,3.0,0.0,46.0,19.000000,82.0,25.0

In [47]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
ply_19 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv', encoding = 'cp949')
ply_19.index = ply_19['PCODE']
ply_19

       GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
PCODE
60100   2018  60100  백창수   HH        외      30   5000만원
60105   2018  60105  배민관   LG        투      27   3200만원
60140   2018  60140  신정락   LG        투      31  10500만원
60146   2018  60146  이승현   SS        투      27   7000만원
60181   2018  60181  김지용   LG        투      30   9000만원
...      ...    ...  ...  ...      ...     ...      ...
99445   2018  99445  권오준   SS        투      38  15000만원
99563   2018  99563  김사율   KT        투      38  15000만원
99606   2018  99606  정성훈   HT        내      38  10000만원
99737   2018  99737  박정진   HH        투      42  25000만원
99810   2018  99810  이진영   KT        외      38  40000만원

[652 rows x 7 columns]

In [48]:
## 선수명, 포지션, 연봉 추가
bat_19_sum['Name'] = ply_19['NAME']
bat_19_sum['Position'] = ply_19['POSITION']
bat_19_sum['Money_18'] = ply_19['MONEY']
bat_19_sum['Money_18'] = [g[:-2] for g in bat_19_sum['Money_18'].to_list()]
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Money_18
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,36.0,5.0,4.0,24.0,6.833333,40.0,10.0,백창수,외,5000
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,3.0,0.0,1.0,1.0,0.000000,2.0,0.0,김창혁,포,2700
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,김응민,포,3000
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,49.0,3.0,2.0,22.0,7.666667,49.0,12.0,이해창,포,7100
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2.000000,2.0,2.0,백상원,내,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,장민재,투,7100
95657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,임창용,투,50000
99563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,김사율,투,15000
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,49.0,5.0,6.0,36.0,11.666667,59.0,17.0,정성훈,내,10000
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,35.0,3.0,0.0,46.0,19.000000,82.0,25.0,이진영,외,40000

In [49]:
## 투수 빼기
bat_19_sum = bat_19_sum[bat_19_sum['Position'] != '투']
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Money_18
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,36.0,5.0,4.0,24.0,6.833333,40.0,10.0,백창수,외,5000
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,3.0,0.0,1.0,1.0,0.000000,2.0,0.0,김창혁,포,2700
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,김응민,포,3000
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,49.0,3.0,2.0,22.0,7.666667,49.0,12.0,이해창,포,7100
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2.000000,2.0,2.0,백상원,내,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79530,15.0,14.0,1.0,5.0,4.0,0.0,1.0,0.0,0.0,0.0,...,5.0,1.0,1.0,3.0,2.000000,3.0,2.0,양종민,내,2900
79608,549.0,494.0,118.0,88.0,169.0,38.0,1.0,23.0,5.0,1.0,...,57.0,13.0,8.0,105.0,35.250000,144.0,58.0,안치홍,내,32000
79705,102.0,85.0,17.0,15.0,22.0,5.0,0.0,4.0,1.0,0.0,...,26.0,3.0,0.0,20.0,7.333333,22.0,9.0,김회성,내,5800
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,49.0,5.0,6.0,36.0,11.666667,59.0,17.0,정성훈,내,10000
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,35.0,3.0,0.0,46.0,19.000000,82.0,25.0,이진영,외,40000

In [50]:
bat_19_sum

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Money_18
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,36.0,5.0,4.0,24.0,6.833333,40.0,10.0,백창수,외,5000
60184,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,3.0,0.0,1.0,1.0,0.000000,2.0,0.0,김창혁,포,2700
60288,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,김응민,포,3000
60343,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,49.0,3.0,2.0,22.0,7.666667,49.0,12.0,이해창,포,7100
60456,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,2.000000,2.0,2.0,백상원,내,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79530,15.0,14.0,1.0,5.0,4.0,0.0,1.0,0.0,0.0,0.0,...,5.0,1.0,1.0,3.0,2.000000,3.0,2.0,양종민,내,2900
79608,549.0,494.0,118.0,88.0,169.0,38.0,1.0,23.0,5.0,1.0,...,57.0,13.0,8.0,105.0,35.250000,144.0,58.0,안치홍,내,32000
79705,102.0,85.0,17.0,15.0,22.0,5.0,0.0,4.0,1.0,0.0,...,26.0,3.0,0.0,20.0,7.333333,22.0,9.0,김회성,내,5800
99606,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,49.0,5.0,6.0,36.0,11.666667,59.0,17.0,정성훈,내,10000
99810,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,35.0,3.0,0.0,46.0,19.000000,82.0,25.0,이진영,외,40000

In [299]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
ply_20 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_선수_2020.csv', encoding = 'cp949')
ply_20.index = ply_20['PCODE']
ply_20

       GYEAR  PCODE   NAME T_ID POSITION  AGE_VA     MONEY
PCODE
50030   2020  50030    소형준   KT        투      19    2700만원
50036   2020  50036    이강준   KT        투      19    2700만원
50040   2020  50040  데스파이네   KT        투      33  450000달러
50054   2020  50054    천성호   KT        내      23    2700만원
50066   2020  50066    강현우   KT        포      19    2700만원
...      ...    ...    ...  ...      ...     ...       ...
79705   2020  79705    김회성   HH        내      35    6500만원
79764   2020  79764    장민재   HH        투      30   11000만원
79825   2020  79825    여건욱   LG        투      34    7000만원
79847   2020  79847    김태훈   SK        투      30   24000만원
99445   2020  99445    권오준   SS        투      40    8000만원

[627 rows x 7 columns]

In [300]:
## 20년도 연봉 추가
bat_19_sum['Money_20'] = ply_20['MONEY']
bat_19_sum = bat_19_sum.dropna()
bat_19_sum['Money_20'] = [m[:-2] for m in bat_19_sum['Money_20'].to_list()]
bat_19_sum

<ipython-input-300-5dda77256e85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_19_sum['Money_20'] = ply_20['MONEY']
<ipython-input-300-5dda77256e85>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_19_sum['Money_20'] = [m[:-2] for m in bat_19_sum['Money_20'].to_list()]

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Money_19,Money_20
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,7.0,1.000000,6.0,1.0,백창수,외,6000,5300
60288,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.000000,3.0,0.0,김응민,포,2900,3200
60343,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,7.0,1.000000,13.0,1.0,이해창,포,6100,5500
60523,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,4.0,43.0,7.500000,51.0,9.0,정훈,외,8000,6400
60558,392.0,352.0,35.0,63.0,88.0,16.0,1.0,6.0,19.0,2.0,...,8.0,9.0,74.0,12.500000,82.0,18.0,오태곤,내,8000,9500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79402,543.0,468.0,38.0,76.0,127.0,20.0,2.0,5.0,21.0,3.0,...,14.0,10.0,105.0,16.583333,114.0,26.0,김상수,내,25000,25000
79456,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,14.0,3.0,54.0,20.333333,91.0,28.0,이지영,포,21000,30000
79530,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,3.0,4.0,7.0,1.000000,12.0,1.0,양종민,내,3000,3600
79608,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,9.0,11.0,98.0,17.750000,124.0,29.0,안치홍,내,50000,29000
79705,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,1.0,2.0,23.0,8.000000,33.0,10.0,김회성,내,6500,6500

In [ ]:
bat_19_sum['Money_18'] = ply_18['MONEY']
bat_19_sum = bat_19_sum.dropna()
bat_19_sum['Money_18'] = [h[:-2] for h in bat_19_sum['Money_18'].to_list()]
bat_19_sum

In [263]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\2020빅콘테스트 문제데이터(데이터분석분야-퓨처스리그)\2020빅콘테스트 데이터분석분야-퓨쳐스리그_스포츠투아이_제공데이터(.CSV)_시즌별, 시트별 구분')
ply_18 = pd.read_csv('2020빅콘테스트_스포츠투아이_제공데이터_선수_2018.csv', encoding = 'cp949')
# ply_18.index = ply_18['NAME']
# del ply_18['NAME']
ply_18.index = ply_18['PCODE']
ply_18

       GYEAR  PCODE NAME T_ID POSITION  AGE_VA    MONEY
PCODE
60100   2018  60100  백창수   HH        외      30   5000만원
60105   2018  60105  배민관   LG        투      27   3200만원
60140   2018  60140  신정락   LG        투      31  10500만원
60146   2018  60146  이승현   SS        투      27   7000만원
60181   2018  60181  김지용   LG        투      30   9000만원
...      ...    ...  ...  ...      ...     ...      ...
99445   2018  99445  권오준   SS        투      38  15000만원
99563   2018  99563  김사율   KT        투      38  15000만원
99606   2018  99606  정성훈   HT        내      38  10000만원
99737   2018  99737  박정진   HH        투      42  25000만원
99810   2018  99810  이진영   KT        외      38  40000만원

[652 rows x 7 columns]

In [264]:
bat_19_sum['Money_18'] = ply_18['MONEY']
bat_19_sum = bat_19_sum.dropna()
bat_19_sum['Money_18'] = [h[:-2] for h in bat_19_sum['Money_18'].to_list()]
bat_19_sum

<ipython-input-264-a9234a8b6910>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_19_sum['Money_18'] = ply_18['MONEY']
<ipython-input-264-a9234a8b6910>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bat_19_sum['Money_18'] = [h[:-2] for h in bat_19_sum['Money_18'].to_list()]

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Name,Position,Money_19,Money_18
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
60100,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,7.0,1.000000,6.0,1.0,백창수,외,6000,5000
60184,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.000000,0.0,0.0,김창혁,포,3000,2700
60288,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.000000,3.0,0.0,김응민,포,2900,3000
60343,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,7.0,1.000000,13.0,1.0,이해창,포,6100,7100
60523,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,4.0,43.0,7.500000,51.0,9.0,정훈,외,8000,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79456,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,14.0,3.0,54.0,20.333333,91.0,28.0,이지영,포,21000,21000
79465,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,0.0,0.0,15.0,4.000000,13.0,5.0,배영섭,외,12000,13000
79530,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,3.0,4.0,7.0,1.000000,12.0,1.0,양종민,내,3000,2900
79608,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,9.0,11.0,98.0,17.750000,124.0,29.0,안치홍,내,50000,32000
79705,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,1.0,2.0,23.0,8.000000,33.0,10.0,김회성,내,6500,5800

In [51]:
## DEA 돌릴 df 생성
bat_19_DEA = bat_19_sum.reset_index(drop = True)
bat_19_DEA.index = bat_19_sum['Name']
del bat_19_DEA['Name']
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_18
Name,,,,,,,,,,,,,,,,,,,,,
백창수,169.0,152.0,18.0,21.0,37.0,15.0,1.0,3.0,0.0,0.0,...,4.0,36.0,5.0,4.0,24.0,6.833333,40.0,10.0,외,5000
김창혁,10.0,10.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,1.0,1.0,0.000000,2.0,0.0,포,2700
김응민,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,포,3000
이해창,174.0,162.0,24.0,19.0,35.0,4.0,0.0,8.0,0.0,3.0,...,3.0,49.0,3.0,2.0,22.0,7.666667,49.0,12.0,포,7100
백상원,8.0,6.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.000000,2.0,2.0,내,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
양종민,15.0,14.0,1.0,5.0,4.0,0.0,1.0,0.0,0.0,0.0,...,0.0,5.0,1.0,1.0,3.0,2.000000,3.0,2.0,내,2900
안치홍,549.0,494.0,118.0,88.0,169.0,38.0,1.0,23.0,5.0,1.0,...,10.0,57.0,13.0,8.0,105.0,35.250000,144.0,58.0,내,32000
김회성,102.0,85.0,17.0,15.0,22.0,5.0,0.0,4.0,1.0,0.0,...,3.0,26.0,3.0,0.0,20.0,7.333333,22.0,9.0,내,5800
정성훈,205.0,183.0,28.0,22.0,54.0,11.0,0.0,4.0,0.0,1.0,...,5.0,49.0,5.0,6.0,36.0,11.666667,59.0,17.0,내,10000
이진영,312.0,283.0,39.0,40.0,90.0,17.0,1.0,3.0,2.0,1.0,...,0.0,35.0,3.0,0.0,46.0,19.000000,82.0,25.0,외,40000

In [52]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_DEA.to_csv('2018_타자_DEA.csv', encoding = 'cp949')

### OPS 계산

#### 출루율 (안타+볼넷+몸에 맞은 공) / (타수+볼넷+몸에 맞은 공+희생플라이)
(HIT+BB+HP)/(AB+BB+HP+SF)

In [267]:
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_18
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,18.0,1.0,0.0,7.0,1.000000,6.0,1.0,외,6000,5000
김창혁,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.000000,0.0,0.0,포,3000,2700
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,6.0,1.0,0.0,1.0,0.000000,3.0,0.0,포,2900,3000
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,11.0,0.0,1.0,7.0,1.000000,13.0,1.0,포,6100,7100
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,47.0,4.0,4.0,43.0,7.500000,51.0,9.0,외,8000,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,28.0,14.0,3.0,54.0,20.333333,91.0,28.0,포,21000,21000
배영섭,80.0,71.0,7.0,5.0,16.0,1.0,0.0,0.0,2.0,0.0,...,15.0,0.0,0.0,15.0,4.000000,13.0,5.0,외,12000,13000
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,15.0,3.0,4.0,7.0,1.000000,12.0,1.0,내,3000,2900
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,37.0,9.0,11.0,98.0,17.750000,124.0,29.0,내,50000,32000
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,24.0,1.0,2.0,23.0,8.000000,33.0,10.0,내,6500,5800

In [303]:
OBP_list = []
for i in range(0, len(bat_19_DEA)) :
    up = bat_19_DEA.iloc[i, 4] + bat_19_DEA.iloc[i, 12] + bat_19_DEA.iloc[i, 14]
    down = bat_19_DEA.iloc[i, 1] + bat_19_DEA.iloc[i, 12] + bat_19_DEA.iloc[i, 14] + bat_19_DEA.iloc[i, 11]
    OBP = up/down
    OBP_list.append(OBP)

<ipython-input-303-010d4ebcfe16>:5: RuntimeWarning: invalid value encountered in double_scalars
  OBP = up/down

In [304]:
bat_19_DEA['OBP'] = OBP_list
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,7.0,1.000000,6.0,1.0,외,6000,5300,0.260870
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.000000,3.0,0.0,포,2900,3200,0.230769
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,7.0,1.000000,13.0,1.0,포,6100,5500,0.186047
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,4.0,43.0,7.500000,51.0,9.0,외,8000,6400,0.324201
오태곤,392.0,352.0,35.0,63.0,88.0,16.0,1.0,6.0,19.0,2.0,...,8.0,9.0,74.0,12.500000,82.0,18.0,내,8000,9500,0.316195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
김상수,543.0,468.0,38.0,76.0,127.0,20.0,2.0,5.0,21.0,3.0,...,14.0,10.0,105.0,16.583333,114.0,26.0,내,25000,25000,0.357542
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,14.0,3.0,54.0,20.333333,91.0,28.0,포,21000,30000,0.316923
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,3.0,4.0,7.0,1.000000,12.0,1.0,내,3000,3600,0.170213
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,9.0,11.0,98.0,17.750000,124.0,29.0,내,50000,29000,0.379902
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,1.0,2.0,23.0,8.000000,33.0,10.0,내,6500,6500,0.301724

#### 장타율 (단타 수 + 2루타 수*2 + 3루타 수*3 + 홈런 수*4)/타수

In [305]:
SLG_list = []
for j in range(0, len(bat_19_DEA)) :
    hit1 = bat_19_DEA.iloc[j, 4] - bat_19_DEA.iloc[j, 5] - bat_19_DEA.iloc[j, 6] - bat_19_DEA.iloc[j, 7]
    hit2 = bat_19_DEA.iloc[j, 5] * 2
    hit3 = bat_19_DEA.iloc[j, 6] * 3
    hit4 = bat_19_DEA.iloc[j, 7] * 4
    
    up = hit1 + hit2 + hit3 + hit4
    down = bat_19_DEA.iloc[j, 1]
    
    SLG = up/down
    SLG_list.append(SLG)

<ipython-input-305-452966022b19>:11: RuntimeWarning: invalid value encountered in double_scalars
  SLG = up/down

In [306]:
bat_19_DEA['SLG'] = SLG_list
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,0.0,7.0,1.000000,6.0,1.0,외,6000,5300,0.260870,0.295455
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.000000,3.0,0.0,포,2900,3200,0.230769,0.307692
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,1.0,7.0,1.000000,13.0,1.0,포,6100,5500,0.186047,0.125000
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,4.0,43.0,7.500000,51.0,9.0,외,8000,6400,0.324201,0.289474
오태곤,392.0,352.0,35.0,63.0,88.0,16.0,1.0,6.0,19.0,2.0,...,9.0,74.0,12.500000,82.0,18.0,내,8000,9500,0.316195,0.352273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
김상수,543.0,468.0,38.0,76.0,127.0,20.0,2.0,5.0,21.0,3.0,...,10.0,105.0,16.583333,114.0,26.0,내,25000,25000,0.357542,0.354701
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,3.0,54.0,20.333333,91.0,28.0,포,21000,30000,0.316923,0.314935
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,4.0,7.0,1.000000,12.0,1.0,내,3000,3600,0.170213,0.181818
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,11.0,98.0,17.750000,124.0,29.0,내,50000,29000,0.379902,0.411602
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,2.0,23.0,8.000000,33.0,10.0,내,6500,6500,0.301724,0.355769

In [307]:
bat_19_DEA['OPS'] = [k + l for k, l in zip(bat_19_DEA['OBP'], bat_19_DEA['SLG'])]
bat_19_DEA

,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,...,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,Position,Money_19,Money_20,OBP,SLG,OPS
Name,,,,,,,,,,,,,,,,,,,,,
백창수,48.0,44.0,3.0,4.0,10.0,3.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,6.0,1.0,외,6000,5300,0.260870,0.295455,0.556324
김응민,13.0,13.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.000000,3.0,0.0,포,2900,3200,0.230769,0.307692,0.538462
이해창,43.0,40.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,13.0,1.0,포,6100,5500,0.186047,0.125000,0.311047
정훈,222.0,190.0,17.0,26.0,43.0,4.0,1.0,2.0,4.0,3.0,...,43.0,7.500000,51.0,9.0,외,8000,6400,0.324201,0.289474,0.613675
오태곤,392.0,352.0,35.0,63.0,88.0,16.0,1.0,6.0,19.0,2.0,...,74.0,12.500000,82.0,18.0,내,8000,9500,0.316195,0.352273,0.668468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
김상수,543.0,468.0,38.0,76.0,127.0,20.0,2.0,5.0,21.0,3.0,...,105.0,16.583333,114.0,26.0,내,25000,25000,0.357542,0.354701,0.712243
이지영,331.0,308.0,39.0,40.0,87.0,5.0,1.0,1.0,5.0,1.0,...,54.0,20.333333,91.0,28.0,포,21000,30000,0.316923,0.314935,0.631858
양종민,49.0,44.0,5.0,1.0,6.0,2.0,0.0,0.0,0.0,0.0,...,7.0,1.000000,12.0,1.0,내,3000,3600,0.170213,0.181818,0.352031
안치홍,408.0,362.0,49.0,45.0,114.0,18.0,1.0,5.0,4.0,2.0,...,98.0,17.750000,124.0,29.0,내,50000,29000,0.379902,0.411602,0.791504
김회성,117.0,104.0,18.0,7.0,24.0,4.0,0.0,3.0,2.0,1.0,...,23.0,8.000000,33.0,10.0,내,6500,6500,0.301724,0.355769,0.657493

In [308]:
os.chdir(r'C:\Users\jaij2\OneDrive\바탕 화면\논문\야구데이터\전처리')
bat_19_DEA.to_csv('2019_타자_DEA_OPS.csv', encoding = 'cp949')